<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/statues/1/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Resting Grace Sitting Angel Sculpture
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://i.pinimg.com/564x/1e/4a/19/1e4a19b6e4e4cfe37e53d496d8443010.jpg" alt="Resting Grace Sitting Angel Sculpture">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">I</span>f contemplation is an art, then this peaceful angel is a masterpiece! Resting, head in hand, she is easy to admire - from her feathered wings to the dainty toes peeking from beneath the folds of her exquisitely sculpted gown. This fine sculpt is inspired by the 1885 original by artist Monteverde (1837-1917) 
        </text></span>      
    </content>

