<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Motherland Calls
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 400px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://images.pexels.com/photos/11278154/pexels-photo-11278154.jpeg?cs=srgb&dl=pexels-evgeny-kochurov-11278154.jpg&fm=jpg" alt="The Motherland Calls">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Motherland Calls (Russian: Родина-мать зовёт!, tr. Rodina-mat' zovyot!) is the compositional centre of the monument-ensemble "Heroes of the Battle of Stalingrad" on Mamayev Kurgan in Volgograd, Russia. The statue is designed in the Soviet style of socialist realism. It was created by sculptor Yevgeny Vuchetich and structural engineer Nikolai Nikitin, and declared the tallest statue in the world in 1967. At 85 m (279 ft), it is the tallest statue in Europe, the tallest in the eastern hemisphere outside of Asia and the tallest statue (excluding pedestals) of a woman in the world. If pedestals are included, that title belongs to the Statue of Liberty in New York.
        <br><br>
        Together with the Warrior Liberator in Treptower Park, Berlin and Rear-front Memorial in Magnitogorsk, the 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        monument is a part of a triptych.
        <br><br>
        The work of sculptor Yevgeny Vuchetich and engineer Nikolai Nikitin is an 85-metre (279 ft) figure of a woman stepping forward with a raised sword. The statue is an allegorical image of the Motherland, which calls on its sons and daughters to repulse the enemy and return to the attack.
        <br><br>
        The Motherland Calls is highly complex from an engineering point of view, due to its characteristic posture with a sword raised high in the right hand and the left hand extended in a calling gesture. The sculpture is hollow. The technology behind the hollow statue is based on a combination of prestressed concrete with wire ropes, a solution which can also be found in another work of Nikitin's, the Ostankino Tower in Moscow. Inside, the entire statue consists of separate cells or chambers, like rooms in a building. The concrete walls of the sculpture are 25–30 cm (9.8–11.8 in) thick.
        <br><br>
        The construction of the monument was started in May 1959 and completed on 15 October 1967. It was the tallest sculpture in the world at the time of creation. Restoration work on the main monument of the monument complex was done in 1972, when the sword was replaced by another entirely consisting of stainless steel.
        <br><br>
        It is most likely that Vuchetich sculpted the figure from the discus thrower Nina Dumbadze, and the face from his wife Vera. According to various sources, Valentina Izotova or Ekaterina Grebneva posed for the sculpture. It is also believed that the statue has parallels with the figure of the "Marseillaise" on the Arc de Triomphe in Paris.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        At night, the sculpture is illuminated by floodlights. In 2018, it was illuminated as part of a light show titled "The Light of the Great Victory", marking the 72nd Victory Day on 9 May in Russia.
        <br><br>
        When the memorial was dedicated in 1967 it was the tallest statue in the world, measuring 85 m (279 ft) from the tip of its sword to the top of the plinth. It lost this title to Japan's Dai Kannon of Kita no Miyako park in 1989. The plinth measures another 2 m (6.6 ft), and is installed on a concrete foundation with a depth of 16 m (52 ft). The figure measures 52 m (171 ft), and the sword 33 m (108 ft). The monument weighs over 8,000 tonnes (8,800 short tons). The statue contains 5,500 tonnes (6,100 short tons) of concrete and 2,400 tonnes (2,600 short tons) of metal structures, and the sword itself weighs 14 tonnes (15 short tons). The rigidity of the frame is supported by 99 metal cables constantly in tension.
      <br><br>
      Two hundred steps, symbolizing the 200 days of the Battle of Stalingrad, lead from the bottom of the hill to the monument. The statue appears on both the current flag and coat of arms of Volgograd Oblast.
<br><br>
    </div>
