<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Statue of Unity
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://images.adsttc.com/media/images/5bd9/b552/f197/cc45/e900/00d6/medium_jpg/43914221_363966157680449_595145553531016098_n.jpg?1540994380" alt="Statue of Unity">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Statue of Unity is the world's tallest statue, with a height of 182 metres (597 feet), located near Kevadia in the state of Gujarat, India. It depicts Indian statesman and independence activist Vallabhbhai Patel (1875–1950), who was the first deputy prime minister and home minister of independent India and an adherent of Mahatma Gandhi. Patel is highly respected for his leadership in uniting 562 princely states of India to form the single Union of India. The statue is located in Gujarat on the Narmada River in the Kevadiya colony, facing the Sardar Sarovar Dam 100 kilometres (62 mi) southeast of the city of Vadodara.
        <br><br>
        The project was first announced in 2010, and construction started in October 2013 by Indian company Larsen & Toubro, with a total construction cost of ₹27 billion (US$422 million). It was designed by Indian sculptor Ram V. Sutar and was inaugurated by the Prime Minister of India, Narendra Modi, on 31 October 2018, the 143rd anniversary of Patel's birth.
        <br><br>
        After studying statues of Patel across the country, a team of historians, artists, and academics chose a design submitted by the Indian sculptor Ram V. Sutar. The Statue of Unity is a larger version of a statue of the leader installed at Ahmedabad International Airport. 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Commenting on the design, Ram Sutar's son, Anil Sutar explains that, "the expression, posture and pose justify the dignity, confidence, iron will as well as kindness that his personality exudes. The head is up, a shawl flung from shoulders and hands are on the side as if he is set to walk". Three models of the design measuring 3 feet (0.91 m), 18 feet (5.5 m), and 30 feet (9.1 m) were initially created. Once the design of the largest model was approved, a detailed 3D-scan was produced which formed the basis for the bronze cladding cast in a foundry in China.
        <br><br>
        Patel's dhoti-clad legs and the use of sandals for footwear rendered the design thinner at the base than at the top thereby affecting its stability. This was addressed by maintaining a slenderness ratio of 16:19 rather than the customary 8:14 ratio of other tall buildings. The statue is built to withstand winds of up to 180 kilometres per hour (110 mph) and earthquakes measuring 6.5 on the Richter scale which are at a depth of 10 km and within a radius of 12 km of the statue. This is aided by the use of two 250 tonne tuned mass dampers ensuring maximum stability.
        <br><br>
        The total height of the structure is 240 m (790 ft), with a base of 58 m (190 ft) and the statue measuring 182 m (597 ft). The height of 182 metres was specifically chosen to match the number of seats in the Gujarat Legislative Assembly.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Statue of Unity was built by a Public Private Partnership model, with most of the money coming from the Government of Gujarat. The Gujarat state government had allotted ₹500 crore (equivalent to ₹641 crore or US$80 million in 2020) for the project in its budget from 2012 to 2015. In the 2014–15 Union Budget, ₹200 crore (equivalent to ₹272 crore or US$34 million in 2020) was allocated for the construction of the statue. Funds were also contributed by Public Sector Undertakings under the Corporate Social Responsibility scheme.
      <br><br>
      Over 128,000 tourists visited the statue in the 11 days after its opening to the public on 1 November 2018. The daily average tourist footfall at Statue of Unity during November 2019 reached 15,036, outpacing the Statue of Liberty (which attracts around 10,000 daily visitors on average). It has been included in the Shanghai Cooperation Organisation's '8 Wonders of SCO' list. In its first year of operation, the Statue of Unity attracted 2,900,000 visitors and collected ₹82 crore (US$11.64 million) in ticket revenue. By 15 March 2021, 5,000,000 tourists visited the venue. It was visited by 10 million people by November 2022.
<br><br>
    </div>
