<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Great Sphinx of Giza
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 400px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cdn.britannica.com/85/99185-050-E1110E5C/Great-Sphinx-Giza-Egypt.jpg" alt="Great Sphinx of Giza">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Great Sphinx of Giza is a limestone statue of a reclining sphinx, a mythical creature with the head of a human and the body of a lion. Facing directly from west to east, it stands on the Giza Plateau on the west bank of the Nile in Giza, Egypt. The face of the Sphinx appears to represent the pharaoh Khafre.
        <br><br>
        The original shape of the Sphinx was cut from the bedrock, and has since been restored with layers of limestone blocks. It measures 73 m (240 ft) long from paw to tail, 20 m (66 ft) high from the base to the top of the head and 19 m (62 ft) wide at its rear haunches. It is uncertain why the Sphinx’s nose was broken off. According to a popular myth, the Sphinx’s nose was
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        broken by cannonballs fired by Napoleon Bonaparte’s army during one of the battles of the French campaign in Egypt in 1798. However, this is refuted by several sources predating the birth of Napoleon. Not only are there paintings from the 17th century which depict the Sphinx in this way but the 15th century Arab historian al-Maqrīzī also acknowledged its broken nose, attributing it to a Sufi Muslim extremist called Mohamed Sa'm al-Dahr whom he claimed broke it in 1378 and was later executed for vandalism. Mark Lehner says that while it is not known when or by whom the Sphinx's nose was broken off, careful examination shows that somebody used long rods or chisels to purposefully do so.
        <br><br>
        The Sphinx is the oldest known monumental sculpture in Egypt and one of the most recognizable statues in the world. The archaeological evidence suggests that it was created by ancient Egyptians of the Old Kingdom during the reign of Khafre (c. 2558–2532 BC).
        <br><br>
        The original name the Old Kingdom creators gave the Sphinx is unknown, as the Sphinx temple, enclosure and possibly the Sphinx itself were not completed at the time, and thus cultural material was limited. In the New Kingdom, the Sphinx was revered as the solar deity Hor-em-akhet (English: "Horus of the Horizon"; Hellenized: Harmachis), and the pharaoh Thutmose IV (1401–1391 or 1397–1388 BC) specifically referred to it as such in his Dream Stele.
        <br><br>
        The commonly used name "Sphinx" was given to it in classical antiquity, about 2,000 years after the commonly accepted date of its construction by reference to a Greek mythological beast with the head of a woman, a falcon, a cat, or a sheep and the body of a lion with the wings of an eagle (although, like most Egyptian sphinxes, the Great Sphinx has a man's head and no wings). The English word sphinx comes from the ancient Greek Σφίγξ (transliterated: sphinx) apparently from the verb σφίγγω (transliterated: sphingo / English: to squeeze), after the Greek sphinx who strangled anyone who failed to answer her riddle.
        <br><br>
        Medieval Arab writers, including al-Maqrīzī, call the Sphinx by an Arabized Coptic name Belhib (Arabic: بلهيب), Balhubah (Arabic: بلهوبه) Belhawiyya (Arabic: بلهويه), which in turn comes from Pehor (Ancient Egyptian: pꜣ-Ḥwr) or Pehor(o)n (Ancient Egyptian: pꜣ-Ḥwr(w)n), a name of the Canaanite god Hauron with whom the Sphinx was identified. It is also rendered as Ablehon on a depiction of the Sphinx made by François de La Boullaye-Le Gouz. The modern Egyptian Arabic name is أبو الهول (ʼabu alhōl / ʼabu alhawl IPA: [ʔabulhoːl], "The Terrifying One"; literally "Father of Dread") which is a phono-semantic matching of the Coptic name.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The archaeological evidence suggests that the Great Sphinx was created around 2500 BC for the pharaoh Khafre, the builder of the Second Pyramid at Giza. The Sphinx is a monolith carved from the bedrock of the plateau, which also served as the quarry for the pyramids and other monuments in the area. Egyptian geologist Farouk El-Baz has suggested that the head of the Sphinx may have been carved first, out of a natural yardang, i.e. a ridge of bedrock that had been sculpted by the wind. These can sometimes achieve shapes which resemble animals. El-Baz suggests that the "moat" or "ditch" around the Sphinx may have been quarried out later to allow for the creation of the full body of the sculpture. The stones cut from around the Sphinx's body were used to construct a temple in front of it, however neither the enclosure nor the temple were ever completed, and the relative scarcity of Old Kingdom cultural material suggests that a Sphinx cult was not established at the time.
        <br><br>
        In order to construct the temple, the northern perimeter-wall of the Khafre Valley Temple had to be deconstructed, hence it follows that the Khafre funerary complex preceded the creation of the Sphinx and its temple. Furthermore, the angle and location of the south wall of the enclosure suggests the causeway connecting Khafre's Pyramid and Valley Temple already existed before the Sphinx was planned. The lower base level of the Sphinx temple also indicates that it does not pre-date the Valley Temple.
<br><br>
    </div>

