<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Spring Temple Buddha
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Spring_Temple_Buddha_picturing_Vairocana%2C_in_Lushan_County%2C_Henan%2C_China.png/391px-Spring_Temple_Buddha_picturing_Vairocana%2C_in_Lushan_County%2C_Henan%2C_China.png" alt="Spring Temple Buddha">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Spring Temple Buddha (Chinese: 中原大佛 and simplified Chinese: 鲁山大佛; traditional Chinese: 魯山大佛) is a colossal statue depicting Vairocana Buddha located in the Zhaocun township of Lushan County, Henan, China, built from 1997 to 2008. It is located within the Fodushan Scenic Area, close to National Freeway no. 311. At 128 metres (420 ft), excluding a 25 metres (82 ft) lotus throne, it is the second-tallest statue in the world after the Statue of Unity in Gujarat, India, which surpassed it in 2018 with a height of 182 metres (597 ft).
        <br><br>
        Taking into account the 25 metres (82 ft) pedestal/building atop which it is placed, the monument has a total height of 153 metres (502 ft). As of October 2008, the hill on which the statue stands is being reshaped to form two further pedestals, the upper one being 15 m tall. The total height of the monument is now said to be 208 m (682 ft).
        <br><br>
        The Spring Temple Buddha derives its name from the nearby Tianrui hot spring, whose water, at 60 °C (140 °F), is renowned in the area for its curative properties. The Foquan Temple, built during the Tang dynasty, houses the Bell of Good Luck, placed on top of Dragon Head peak. This bronze bell weighs 116 tonnes.
        <br><br>
        Inscribed within the statue's chest is a small reverse swastika (sauwastika).
        </text></span>      
    </content>

    </div>

