<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Bust of Nefertiti
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Nofretete_Neues_Museum.jpg" alt="Bust of Nefertiti">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Nefertiti Bust is a painted stucco-coated limestone bust of Nefertiti, the Great Royal Wife of Egyptian pharaoh Akhenaten.
        <br><br>
        The work is believed to have been crafted in 1345 BCE by Thutmose because it was found in his workshop in Amarna, Egypt. It is one of the most-copied works of ancient Egypt. Nefertiti has become one of the most famous women of the ancient world and an icon of feminine beauty.
        <br><br>
        A German archaeological team led by Ludwig Borchardt discovered the bust in 1912 in Thutmose's workshop. Despite provisions that prohibited any items of great archaeological value from leaving Egypt, Borchardt concealed the nature of the bust by covering it in a layer of clay and smuggled it out of the country in 1913. It has been kept at various locations in Germany since its discovery, including the cellar of a bank, a salt-mine in Merkers-Kieselbach, the Dahlem museum, the Egyptian Museum in Charlottenburg and the Altes Museum. It is currently on display at the Neues Museum in Berlin, where it was originally displayed before World War II.
        <br><br>
        The Nefertiti bust has become not only a defining emblem of ancient Egypt, but also a symbol of the grave impact that European colonialism has had on Egypt's history and culture.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
         It has been the subject of an intense argument between Egypt and Germany over Egyptian demands for its repatriation, which began in 1924, once the bust was first displayed to the public, and more generally it fuelled discussions over the role museums play in undoing colonialism. Today, Egypt continues to demand the repatriation of the bust, whereas German officials and the Berlin Museum assert their ownership by citing an official protocol, signed by the German excavators and the French-led Egyptian Antiquities Service of the time, and the colonial laws based on the West’s right to exploit the “racially inferior".
        <br><br>
        Nefertiti (meaning "the beautiful one has come forth") was the 14th-century BCE Great Royal Wife (chief consort) of the Egyptian Pharaoh Akhenaten of the Eighteenth Dynasty of Egypt. Akhenaten initiated a new monotheistic form of worship called Atenism dedicated to the Sun disc Aten. Little is known about Nefertiti. Theories suggest she could have been an Egyptian royal by birth, a foreign princess or the daughter of a high government official named Ay, who became pharaoh after Tutankhamun. She may have been the co-regent of Egypt with Akhenaten, who ruled from 1352 BCE to 1336 BCE. Nefertiti bore six daughters to Akhenaten, one of whom, Ankhesenpaaten (renamed Ankhesenamun after the suppression of the Aten cult), married Tutankhamun, Nefertiti's stepson. While it was once thought that Nefertiti disappeared in the twelfth year of Akhenaten's reign because of her death or because she took a new name, she was still alive in the sixteenth year of her husband's reign according to a limestone quarry inscription found at Dayr Abū Ḥinnis "on the eastern side of the Nile, about ten kilometres [6 miles] north of Amarna", in today's Al-Minya Governorate Nefertiti may have become a pharaoh in her own right for a short time after her husband's death.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The bust of Nefertiti is believed to have been crafted about 1345 BCE by the sculptor Thutmose. The bust does not have any inscriptions, but can be certainly identified as Nefertiti by the characteristic crown, which she wears in other surviving (and clearly labelled) depictions, for example the "house altar".
      <br><br>
      The bust was found on 6 December 1912 at Amarna by an archaeological team funded by the German Oriental Company (Deutsche Orient-Gesellschaft – DOG), a voluntary association founded by one of the wealthiest men in Prussia: James Simon, who not only exported more than 20,000 artefacts from Egypt and Iraq, but also exploited Egyptian farmers for their cotton to build his wealth and expand his family's cotton wholesale firm, making it the largest in Europe. The team was led by German archaeologist Ludwig Borchardt. The bust was found in what had been the workshop of the sculptor Thutmose, along with other unfinished busts of Nefertiti. Borchardt's diary provides the main written account of the find; he remarks, "Suddenly we had in our hands the most alive Egyptian artwork. You cannot describe it with words. You must see it."
<br><br>
    </div>

