<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Terracotta Army
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://nypost.com/wp-content/uploads/sites/2/2019/04/terracotta1.jpg?quality=75&strip=all" alt="Terracotta Army">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Terracotta Army is a collection of terracotta sculptures depicting the armies of Qin Shi Huang, the first emperor of China. It is a form of funerary art buried with the emperor in 210–209 BCE with the purpose of protecting him in his afterlife.
        <br><br>
        The figures, dating from approximately the late 200s BCE, were discovered in 1974 by local farmers in Lintong County, outside Xi'an, Shaanxi, China. The figures vary in height according to their rank, the tallest being the generals. The figures include warriors, chariots and horses. Estimates from 2007 were that the three pits containing the Terracotta Army hold more than 8,000 soldiers, 130 chariots with 520 horses, and 150 cavalry horses, the majority of which remain in situ in the pits near Qin Shi Huang's mausoleum. Other, non-military 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        terracotta figures were found in adjoining pits, including officials, acrobats, strongmen, and musicians.
        <br><br>
        The construction of the tomb was described by historian Sima Qian (145–90 BCE) in Records of the Grand Historian, the first of China's 24 dynastic histories, written a century after the mausoleum's completion. Work on the mausoleum began in 246 BCE, soon after Emperor Qin (then aged 13) succeeded his father as King of Qin, and the project eventually involved 700,000 conscripted workers. Geographer Li Daoyuan, writing six centuries after the first emperor's death, recorded in Shui Jing Zhu that Mount Li was a favoured location due to its auspicious geology: "famed for its jade mines, its northern side was rich in gold, and its southern side rich in beautiful jade; the first emperor, covetous of its fine reputation, therefore chose to be buried there". Sima Qian wrote that the first emperor was buried with palaces, towers, officials, valuable artifacts and wondrous objects. According to this account, 100 flowing rivers were simulated using mercury, and above them the ceiling was decorated with heavenly bodies, below which lay the features of the land. Some translations of this passage refer to "models" or "imitations"; however, those words were not used in the original text, which also makes no mention of the terracotta army. High levels of mercury were found in the soil of the tomb mound, giving credence to Sima Qian's account. Later historical accounts suggested that the complex and tomb itself had been looted by Xiang Yu, a contender for the throne after the death of the first emperor. However, there are indications that the tomb itself may not have been plundered.
        <br><br>
        The Terracotta Army was discovered on 29 March 1974 by a group of farmers—Yang Zhifa, his five brothers, and neighbour Wang Puzhi—who were digging a well approximately 1.5 km (0.93 mi) east of the Qin Emperor's tomb mound at Mount Li (Lishan), a region riddled with underground springs and watercourses. For centuries, occasional reports mentioned pieces of terracotta figures and fragments of the Qin necropolis – roofing tiles, bricks and chunks of masonry. This discovery prompted Chinese archaeologists, including Zhao Kangmin, to investigate, revealing the largest pottery figurine group ever found. A museum complex has since been constructed over the area, the largest pit being enclosed by a roofed structure.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The terracotta figures are life-sized, typically ranging from 175 cm (5.74 ft) to about 200 cm (6.6 ft) (the officers are typically taller). They vary in height, uniform, and hairstyle in accordance with rank. Their faces appear to be different for each individual figure; scholars, however, have identified 10 basic face shapes. The figures are of these general types: armored infantry; unarmored infantry; cavalrymen who wear a pillbox hat; helmeted drivers of chariots with more armor protection; spear-carrying charioteers; kneeling crossbowmen or archers who are armored; standing archers who are not; as well as generals and other lower-ranking officers. There are, however, many variations in the uniforms within the ranks: for example, some may wear shin pads while others not; they may wear either long or short trousers, some of which may be padded; and their body armors vary depending on rank, function, and position in formation.There are also terracotta horses placed among the warrior figures.
      <br><br>
      Originally, the figures were painted with ground precious stones, intensely fired bones (white), pigments of iron oxide (dark red), cinnabar (red), malachite (green), azurite (blue), charcoal (black), cinnabar barium copper silicate mix (Chinese purple or Han purple), tree sap from a nearby source, (more than likely from the Chinese lacquer tree) (brown), and other colors including pink, lilac, red, white, and one unidentified color. The colored lacquer finish and individual facial features would have given the figures a realistic feel, with eyebrows and facial hair in black and the faces done in pink.
<br><br>
    </div>
