<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Ecstasy of Saint Teresa
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.reed.edu/reed-magazine/assets/images/2022/Ecstasy_of_Saint_Teresa.jpg" alt="Ecstasy of Saint Teresa">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Ecstasy of Saint Teresa (also known as Saint Teresa in Ecstasy or the Transverberation of Saint Teresa; Italian: L'Estasi di Santa Teresa or Santa Teresa in estasi) is a sculptural group in white marble set in an elevated aedicule in the Cornaro Chapel of the church of Santa Maria della Vittoria in Rome. It was designed and completed by Gian Lorenzo Bernini, the leading sculptor of his day, who also designed the setting of the Chapel in marble, stucco and paint. It is generally considered to be one of the sculptural masterpieces of the High Roman Baroque. The sculpture depicts Teresa of Ávila, a Spanish Carmelite nun and saint, swooning in a state of religious ecstasy, while an angel holding a spear stands over her.
        <br><br>
        The entire ensemble was overseen and completed by a mature Bernini during the Pamphili papacy of Innocent  
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        X. When Innocent acceded to the papal throne, he shunned Bernini's artistic services; the sculptor had been the favourite artist of the previous and profligate Barberini pope, Urban VIII. Without papal patronage, the services of Bernini's studio were therefore available to a patron such as the Venetian Cardinal Federico Cornaro (1579–1653).
        <br><br>
        Cornaro had chosen the hitherto unremarkable church of the Discalced Carmelites for his burial chapel. The selected site for the chapel was the left transept that had previously held an image of 'St. Paul in Ecstasy', which was replaced by Bernini's dramatization of a religious experience undergone and related by the first Discalced Carmelite saint, who had been canonised not long before, in 1622. It was completed in 1652 for the then princely sum of 12,000 scudi.
        <br><br>
        A small format terracotta model of about 47 cm (19 in) was created between 1644 and 1647. The sculpture represents the first embodiment of the project, with traces of Bernini's fingerprints still visible. The model belongs to the Hermitage Museum's collection.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The effects are theatrical, the Cornaro family seeming to observe the scene from their boxes, and the chapel illustrates a moment where divinity intrudes on an earthly body. Caroline Babcock speaks of Bernini's melding of sensual and spiritual pleasure as both intentional and influential on artists and writers of the day. Irving Lavin said "the transverberation becomes a point of contact between earth and heaven, between matter and spirit". As Bernini biographer Franco Mormando points out, although Bernini's point of departure for his depiction of Teresa's mystical experience was her own description, there were many details about the experience that she never specifies (e.g., the position of her body) and that Bernini simply supplied from his own artistic imagination, all with an aim of increasing the nearly transgressively sensual charge of the episode: "Certainly no other artist, in rendering the scene, before or after Bernini, dared as much in transforming the saint's appearance."
<br><br>
    </div>
