<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Little Dancer of Fourteen Years
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://images.metmuseum.org/CRDImages/es/original/DP-14939-001.jpg" alt="Little Dancer of Fourteen Years">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Little Fourteen-Year-Old Dancer (French: La Petite Danseuse de Quatorze Ans) is a sculpture begun c. 1880 by Edgar Degas of a young student of the Paris Opera Ballet dance school, a Belgian named Marie van Goethem.
        <br><br>
        The sculpture is one-third life size and was originally sculpted in wax, a somewhat unusual choice of medium for the time. It is dressed in a real bodice, tutu and ballet slippers and has a wig of real hair. All but a hair ribbon and the tutu are covered in wax. The 28 bronze repetitions that appear in museums and galleries around the world today were cast after Degas' death. The tutus worn by the bronzes vary from museum to museum.
        <br><br>
        The exact relationship between Marie van Goethem and Edgar Degas is a matter of debate. It was common in 1880 for the "Petits Rats" of the Paris Opera to seek protectors from among the wealthy visitors at the back door of the opera.
        <br><br>
        Realistic wax figures with real hair and real clothes had also been popular in religious, Folk, and fine arts for centuries before Degas created his Little Dancer.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The arms are taut, and the legs and feet are placed in a ballet position akin to fourth position at rest, and there is tension in the pose, an image of a ballerina being put through her paces, not posing in an angelic way. Her face is – "contorted, people thought it was a deliberate image of ugliness, but you could also say it's the image of a sickly gawky adolescent who is being made to do something she doesn't totally want to do."
        <br><br>
        When the La Petite Danseuse de Quatorze Ans was shown in Paris at the Sixth Impressionist Exhibition of 1881, it received mixed reviews. Joris-Karl Huysmans called it "the first truly modern attempt at sculpture I know." Certain critics were shocked by the piece, and the dancer was compared to a monkey and a Mexica. One critic, Paul Mantz, called her the "flower of precocious depravity," with a face "marked by the hateful promise of every vice" and "bearing the signs of a profoundly heinous character." Comparisons with older art were made, perhaps partly because it was exhibited in a glass case, like classical sculpture in the Louvre, and was dressed in wig and clothes.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        After Degas' death, his heirs (brother and sister's children) made the decision to have the bronze repetitions of La Petite Danseuse and other wax and mixed-media sculptures cast. The casting took place at the Hébrard foundry in Paris from 1920 until 1936 when the Hébrard foundry went bankrupt and closed. Thereafter, "Hébrard" Degas Little Dancer bronzes were cast at the Valsuani foundry in Paris until the mid-1970s. Sixty-nine of Degas' wax sculptures survived the casting process. One copy of La Petite Danseuse is currently owned by the creator and owner of Auto Trader, John Madejski. He stated that he bought the sculpture by accident. That copy was sold for £13,257,250 ($19,077,250) at Sotheby's on February, 3rd 2009. Another Hébrard Little Dancer bronze failed to sell at a November 2011 auction at Christie's.
      <br><br>
      To construct the statue, Degas used pigmented beeswax, with a metal armature, rope, and paintbrushes covered by clay for structural support.
<br><br>
    </div>

