<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Burghers of Calais
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Statue_bourgeois_calais_rodin.jpg" alt="The Burghers of Calais">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Burghers of Calais (French: Les Bourgeois de Calais) is a sculpture by Auguste Rodin in twelve original castings and numerous copies. It commemorates an event during the Hundred Years' War, when Calais, a French port on the English Channel, surrendered to the English after an eleven-month siege. The city commissioned Rodin to create the sculpture in 1884 and the work was completed in 1889.
        <br><br>
        In 1346, England's Edward III, after a victory in the Battle of Crécy, laid siege to Calais, while Philip VI of France ordered the city to hold out at all costs. Philip failed to lift the siege, and starvation eventually forced the city to parley for surrender.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The contemporary chronicler Jean Froissart (c. 1337 – c. 1405) tells a story of what happened next: Edward offered to spare the people of the city if six of its leaders would surrender themselves to him, presumably to be executed. Edward demanded they walk out wearing nooses around their necks, and carrying the keys to the city and castle. One of the wealthiest of the town leaders, Eustache de Saint Pierre, volunteered first, and five other burghers joined with him. Saint Pierre led this envoy of volunteers to the city gates. It was this moment, and this poignant mix of defeat, heroic self-sacrifice, and willingness to face imminent death which Rodin captured in his sculpture, scaled somewhat larger than life.
        <br><br>
        According to Froissart's story, the burghers expected to be executed, but their lives were spared by the intervention of England's queen, Philippa of Hainault, who persuaded her husband to exercise mercy by claiming their deaths would be a bad omen for her unborn child.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The City of Calais had attempted to erect a statue of Eustache de Saint Pierre, eldest of the burghers, since 1845. Two prior artists were prevented from creating the sculpture: David d'Angers by his death, and Auguste Clésinger by the Franco-Prussian War. In 1884 the municipal corporation of the city invited several artists, Rodin amongst them, to submit proposals for the project.
        <br><br>
        Rodin's design, which included all six figures rather than just de Saint Pierre, was controversial. The public felt that it lacked "overtly heroic antique references" which were considered integral to public sculpture. It was not a pyramidal arrangement and contained no allegorical figures. It was intended to be placed at ground level, rather than on a pedestal. The burghers were not presented in a positive image of glory; instead, they display "pain, anguish and fatalism". To Rodin, this was nevertheless heroic, the heroism of self-sacrifice.
      <br><br>
      In 1895 the monument was installed in Calais on a large pedestal in front of Parc Richelieu, a public park, contrary to the sculptor's wishes, who wanted contemporary townsfolk to "almost bump into" the figures and feel solidarity with them. Only later was his vision realised, when the sculpture was moved in front of the newly completed town hall of Calais, where it now rests on a much lower base.
<br><br>
    </div>

