<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Pablo Picasso, Guitar
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.moma.org/media/W1siZiIsIjE5NDkxNyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MTQ0MFx1MDAzZSJdXQ.jpg?sha=c401a6d6e751da96" alt="Pablo Picasso, Guitar">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>o create Guitar Picasso made a radical leap from the sculptural tradition of modeling (carving or molding) to a new technique of assemblage. He created a first version of Guitar from cardboard in 1912, then later remade the work in sheet metal; the modern ordinariness of both of these materials is very different from traditional sculptural materials such as bronze, wood, and marble. The planes of the sheet–metal construction engage in a play of substance and void in which volume is suggested, not depicted. In a dramatic demonstration of the flexible way visual forms can be read in context, the guitar's sound hole, which normally recedes from the instrument's smooth surface, here projects outward into space.
        </text></span>      
    </content>

