<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Angel of the North
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 400px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cdn.britannica.com/38/142538-050-8A35A6AF/Angel-of-the-North-sculpture-Antony-Gormley-1998.jpg" alt="Angel of the North">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Angel of the North is a contemporary sculpture by Antony Gormley, located in Gateshead, Tyne and Wear, England. Completed in 1998, it is believed to be the largest sculpture of an angel in the world and is viewed by an estimated 33 million people every year due to its proximity to the A1 and A167 roads and the East Coast Main Line. The design of the Angel, like many of Gormley's works, is based on Gormley's own body. The COR-TEN weathering steel material gives the sculpture its distinctive rusty, oxidised colour. It stands 20 metres (66 ft) tall with a wingspan of 54 metres (177 ft), larger than that of a Boeing 757 aircraft. The vertical ribs on its body and wings act as an external skeleton which direct oncoming wind to the sculpture's foundations, allowing it to withstand wind speeds of over 100 miles per hour (160 km/h).
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The sculpture was commissioned and delivered by Gateshead Council who approached Gormley to be the sculptor. Although initially reluctant, Gormley agreed to undertake the project after visiting and being inspired by the Angel's proposed site, a former colliery overlooking the varied topography of the Tyne and Wear Lowlands National Character Area. 
        <br><br>
        Hartlepool Steel Fabrications were responsible for the manufacture and assembly of the 208-tonne sculpture. On 14 February 1998, the Angel was transported overnight to the installation site and erected the next morning. The project faced opposition during its design and construction, but is now widely recognised as an iconic example of public art and a symbol of Gateshead and the wider North East region.
        <br><br>
        Prior to the construction of the Angel of the North, the most significant landmarks that signalled travellers' arrival into Tyneside, when travelling from the south, were the bridges that crossed the River Tyne. In 1990, Gateshead Council first conceived of a sculpture to act as a new landmark for the southern approach into Gateshead and Tyneside, standing near the A1 and A167 road interchange. Mike White, the Assistant Director Arts at Gateshead Council from 1989 to 2000, stated that the intention was for the Angel of the North to act as a "millennial image that would be a marker and guardian for our town". The process to commission and deliver a sculpture was led by Gateshead Council's Art in Public Places panel, the Libraries & Arts and Planning & Engineering Departments, and Northern Arts – a regional subdivision of the Arts Council of Great Britain which existed from 1990 to 2002. The Council applied for £45,000 of funding from Northern Arts for the selection of an artist and the delivery of an initial design. Although this was the largest public art project the Council had planned to date, Gateshead had already undergone multiple regeneration projects. In the 1980s the construction of Gateshead International Stadium and the MetroCentre signalled a step forward in urban regeneration, and in 1990 the Gateshead National Garden Festival and Riverside Sculpture Park marked the borough's emerging arts policy. The 1990s also saw the conception of other regional transformation projects including the Baltic Centre for Contemporary Art and Gateshead Millennium Bridge.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Council's Art in Public Places Panel met three times to decide upon a shortlist of artists to build the new sculpture. They were inspired by Antony Gormley's series of structures called The Case for an Angel which he began creating in 1989. After two years of looking for a suitable candidate, Gormley was ultimately selected. After originally claiming that he did not "do roundabout art", Gormley was inspired after visiting the proposed site of the sculpture, comparing it to a "megalithic burial chamber".
        <br><br>
        Planning permission for the sculpture was secured in 1995 and Gateshead Council acquired funding of £800,000. £584,000 came from the Arts Council England, £150,000 from the European Regional Development Fund, £45,000 from Northern Arts, plus private sponsorship. Momentum for the sculpture continued into 1996, when a 1:20 maquette of the Angel went on display in Shipley Gallery, and Northern Arts won the Festival for UK Visual Arts Year. A two-year series of educational events were conducted with 30 schools and 1,400 children in the area who built their own small-scale versions of the Angel which later went on display in venues around Gateshead and in Sunderland.
<br><br>
    </div>

