<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Athena Promachos
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://greekreporter.com/wp-content/uploads/2021/10/Athena-Parthenos-recreation-LeQuire-credit-Dean-Dixon-FAL-e1635528682117.jpeg" alt="Athena Promachos">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Athena Promachos (Ἀθηνᾶ Πρόμαχος, "Athena who fights in the front line") was a colossal bronze statue of Athena sculpted by Pheidias, which stood between the Propylaea and the Parthenon on the Acropolis of Athens. Athena was the tutelary deity of Athens and the goddess of wisdom and warriors. Pheidias also sculpted two other figures of Athena on the Acropolis, the huge gold and ivory ("chryselephantine") cult image of Athena Parthenos in the Parthenon and the Lemnian Athena.
        <br><br>
        The designation Athena Promachos is not attested before a dedicatory inscription of the early fourth century CE;[2] Pausanias (1.28.2) referred to it as "the great bronze Athena" on the Acropolis.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Athena Promachos was one of the earliest recorded works by Pheidias and was originally a well-known and famous Athenian landmark. According to the Greek traveler and geographer, Pausanias, the top of Athena's helmet as well as the tip of her spear could be seen by sailors and anyone approaching Athens from Attica, at Sounion. It originally stood between the Erechtheion and the Propylaea.
        <br><br>
        Erected around 456 BCE, the Athena Promachos was either to memorialize the Battle of Marathon or the Persian Wars which is possibly what the dedicatory inscription refers to; this inscription also mentions that the trophies won in the Persian War were once placed around the pedestal of the statue (Raubitschek, A. E., and Gorham P. Stevens). It took somewhere near nine years to construct. According to the Greek Byzantine historian Niketas Choniates, the Athena Promachos stood at around 30 feet (9.1 m) tall. It is known that the statue was to be a 'thanks' after war but there are many disagreements about which war. It has also been suggested that the Athena Promachos may have been a cult statue. For a long time there was speculation if the Athena Promachos even existed, however most scholars now agree that it did as there is proof from Roman coins that depict it.
        <br><br>
        Surviving accounts for the creation process for the sculpture cover nine years, but the dates are not identifiable, because the names of officials are missing. The sculpture may have commemorated Kimon's defeat of the Persians at the Eurymedon in 467 or the peace of Kallias in approximately 450 or 449.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Made entirely of bronze, the Athena Promachos was spoken of as both 'the bronze Athena' and 'the great bronze Athena,' in ancient times. The term 'Promachos' meaning 'fighting before' or 'in front of' was not originally used when referring to the statue; this nickname came later, most notably being used by Zosimus.
      <br><br>
      Athena Promachos stood overlooking her city for approximately 1000 years, until shortly after 465 CE, when the sculpture was transported to Constantinople (capital of the Eastern Roman Empire) as a trophy in the "Oval Forum", which became the last bastion and safe haven for many surviving Greek bronze sculptures under the protection of the Eastern Empire's Imperial court. Niketas Choniates documented a riot taking place in the Forum of Constantine in Constantinople in 1203 CE where a large, bronze, statue of Athena was destroyed by a "drunken crowd" which is now thought to have been the Athena Promachos.
      <br><br>
      Of surviving models thought to represent the type, the two outstanding ones are the Athena Elgin, a small bronze statuette in the Metropolitan Museum of Art, who bears an owl in her outstretched hand (as among some coin types), and the Athena Medici torso in the Musée du Louvre, of which there are a number of replicas.
<br><br>
    </div>

