<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Venus de Milo
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Front_views_of_the_Venus_de_Milo.jpg/800px-Front_views_of_the_Venus_de_Milo.jpg" alt="Venus de Milo">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Venus de Milo (/də ˈmaɪloʊ, də ˈmiːloʊ/ də MY-loh, də MEE-loh; Ancient Greek: Ἀφροδίτη τῆς Μήλου, romanized: Aphrodítē tēs Mḗlou) or Aphrodite of Melos is an ancient Greek sculpture that was created during the Hellenistic period. It is one of the most famous works of ancient Greek sculpture, having been prominently displayed at the Louvre Museum since shortly after the statue was rediscovered on the island of Milos, Greece, in 1820.
        <br><br>
        The Venus de Milo is believed to depict Aphrodite, the Greek goddess of love, whose Roman counterpart was Venus. Made of Parian marble, the statue is larger than life size, standing over 2 meters high. The statue is missing both arms, with part of one arm, as well as the original plinth, being lost after the statue's rediscovery.
        <br><br>
        The Venus de Milo is an over 2 m tall Parian marble statue of a Greek goddess, most likely Aphrodite, depicted with a bare torso and drapery over the lower half of her body. The figure's head is turned to the left. The statue is missing both arms, the left foot, and the earlobes. There is a filled hole below her right breast that originally contained a metal tenon that would have supported the right arm. The Venus' flesh is polished smooth, but chisel marks are still visible on other surfaces.
        <br><br>
        The Venus de Milo was discovered on 8 April 1820 by a Greek farmer on the island of Milos. Olivier Voutier, a French sailor interested in archaeology, witnessed the discovery 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        and encouraged the farmer to continue digging. Voutier and the farmer uncovered two large pieces of the sculpture and a third, smaller piece. A fragment of an arm, a hand holding an apple, and two herms were also found alongside the statue. Two inscriptions were also apparently found with the Venus: one, transcribed by Dumont D'Urville, commemorates a dedication by one Bakchios son of Satios; the other, recorded on a drawing made by Auguste Debay, names Alexandros of Antioch. Both inscriptions are now lost. Other sculptural fragments found around the same time include a third herm, two further arms, and a foot with sandal.
        <br><br>
        Dumont D'Urville, a French naval officer who arrived on Milos shortly after the discovery, wrote an account of the find. According to his testimony, the Venus statue was found in a quadrangular niche.
        <br><br>
        After stopping in Melos, D'Urville's ship sailed to Constantinople, where he reported the find to the Comte de Marcellus, assistant to Charles François de Riffardeau, marquis de Rivière, the French ambassador. Rivière agreed that Marcellus should go to Melos to buy the statue. By the time Marcellus arrived at Melos, the farmer who discovered the statue had already received another offer to buy it, and it had been loaded onto a ship; the French intervened and Marcellus was able to buy the Venus. It was brought to France, bought by Louis XVIII, and installed in the Louvre.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Venus de Milo is probably a sculpture of the goddess Aphrodite, but its fragmentary state makes secure identification difficult. The earliest written accounts of the sculpture, by a French captain and the French vice-consul on Melos, both identify it as representing Aphrodite holding the apple of discord, apparently on the basis of the hand holding an apple found with the sculpture. An alternative identification proposed by Salomon Reinach is that she represents the sea-goddess Amphitrite, and was originally grouped with a sculpture of Poseidon from Melos, discovered in 1878. Other proposed identifications include a Muse, Nemesis, or Sappho.
      <br><br>
      The authorship and date of the Venus de Milo were both disputed from its discovery. Within a month of its acquisition by the Louvre, three French scholars had published papers on the statue, disagreeing on all aspects of its interpretation: Toussaint-Bernard Éméric-David thought it dated to c. 420 BC – c. 380 BC, between Phidias and Praxiteles; Quatremère de Quincy attributed it to the mid-fourth century and the circle of Praxiteles; and the Comte de Clarac thought it a later copy of a work by Praxiteles. The scholarly consensus in the 19th century was that the Venus dated to the fourth century BC. At the end of the 19th century, Adolf Furtwängler was the first to argue that it was in fact late Hellenistic, dating to c. 150 BC – c. 50 BC, and this dating continues to be widely accepted.
<br><br>
    </div>

