<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        La Pietà
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 590px; height: 450px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/6/65/Pieta_de_Michelangelo_-_Vaticano.jpg" alt="La Pietà">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Madonna della Pietà (Italian: [pjeˈta]; 1498–1499) informally known as La Pietà is a Roman Catholic dolorous image of Jesus and Mary at Mount Golgotha representing the "Sixth Sorrow" of the Blessed Virgin Mary and a key work of Italian Renaissance sculpture carved by Michelangelo Buonarroti, now enshrined within Saint Peter's Basilica, Vatican City. It is the first of a number of works of the same subject by the Florentine artist.
        <br><br>
        The statue was originally commissioned for a Cardinal of France, Jean Bilhères de Lagraulas, a serving French ambassador in Rome. The Carrara marble sculpture was made for the cardinal's funeral monument, but was moved to its current location, the first chapel on the north side after the entrance of the basilica, in the 18th century. It is the only piece Michelangelo ever signed.
        <br><br>
        The sculpture captures the moment when Jesus, taken down from the cross, is given to his mother Mary. Mary looks younger than Jesus; art historians believe Michelangelo was inspired by a passage in Dante Alighieri's Divine
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Comedy: "O virgin mother, daughter of your Son...your merit so ennobled human nature that its divine Creator did not hesitate to become your creature" (Paradiso, Canto XXXIII). Michelangelo's aesthetic interpretation of the Pietà is unprecedented in Italian sculpture because it balances the Renaissance ideals of classical beauty with naturalism.
        <br><br>
        Pope Urban VIII granted the venerated Marian image a Pontifical decree of canonical coronation via his Papal bull "Domina Coronatum Est" signed and notarized on 14 August 1637 and granted to its patronal donor, Lord Ascanio Sforza y Pallavicini and Canon priest of the Vatican Chapter, Monsignor Ugo Ubaldini. The levitating diadem was manufactured by the Italian artisan, Fantino Taglietti, who charged 564 Italian scudo coins at the time. The official rite of coronation was executed on 31 August 1637. The cherubic angels were added in 1713 by his descendant, later relocated to the "Chapel of the Holy Choir" within the basilica in 1749.
        <br><br>
        The image was vandalized on Pentecost Sunday of 1972 by a mentally disturbed man who infiltrated the unsecured altar at the time.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The structure is pyramidal, and the vertex coincides with Mary's head. The statue widens progressively down the drapery of Mary's dress, to the base, the rock of Golgotha. The figures are quite out of proportion, owing to the difficulty of depicting a fully-grown man cradled full-length in a woman's lap. Much of Mary's body is concealed by her monumental drapery, and the relationship of the figures appears quite natural. Michelangelo's interpretation of the Pietà was far different from those previously created by other artists, as he sculpted a young and beautiful Mary rather than a naturally older woman (aged 45+) that should be commensurate with the natural age of her son, Jesus (aged 33).
        <br><br>
        The marks of the Crucifixion are limited to very small nail marks and an indication of the wound in Jesus' side. Accordingly, Christ's face does not reveal signs of the Passion. According to another interpretation, when Michelangelo set out to create his Pietà, he wanted to create a work he described as "the heart's image".
      <br><br>
      Two drilled holes are located at the top head of the Virgin Mary, which once supported the bar holding two levitating angels, while another hole is located at the tophead of the Christ image.
<br><br>
    </div>

