<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Winged Victory Of Samothrace
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://api-www.louvre.fr/sites/default/files/2020-12/victoire-de-samothrace.jpg" alt="Winged Victory Of Samothrace">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Winged Victory of Samothrace, or the Nike of Samothrace, is a votive monument originally found on the island of Samothrace, north of the Aegean Sea. It is a masterpiece of Greek sculpture from the Hellenistic era, dating from the beginning of the 2nd century BC. It is composed of a statue representing the goddess Niké (Victory), whose head and arms are missing, and its base in the shape of a ship's bow.
        <br><br>
        The total height of the monument is 5.57 meters (18 ft, 3 in) including the socle; the statue alone measures 2.75 meters (9 ft). The sculpture is one of a small number of major Hellenistic statues surviving in the original, rather than Roman copies. Winged Victory has been exhibited at the Louvre Museum in Paris, at the top of the main staircase, since 1884.
        <br><br>
        Greece is seeking the return of the sculpture.
        <br><br>
        In 1863, Charles Champoiseau (1830–1909), acting in charge of the Consulate of France in Adrianopolis (now Edirne in Turkey), undertook from March 6 to May 7 the exploration of the ruins of the sanctuary of the Great Gods on the island of Samothrace. On April 13, 1863, he discovered part of the bust and the body of a large female statue in white marble accompanied by numerous fragments of drapery and feathers.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        He recognised this as the goddess Niké, Victory, traditionally represented in Greek antiquity as a winged woman. In the same place was a jumble of about fifteen large grey marble blocks whose form or function was unclear: he concluded it was a funerary monument. He decided to send the statue and fragments to the Louvre Museum, and to leave the large blocks of grey marble on site. Departing Samothrace at the beginning of May 1863, the statue arrived in Toulon at the end of August and in Paris on May 11, 1864.
        <br><br>
        A first restoration was undertaken by Adrien Prévost de Longpérier, then curator of Antiquities at the Louvre, between 1864 and 1866. The main part of the body (2.14 m from the upper belly to the feet) is erected on a stone base, and largely completed by fragments of drapery, including the fold of himation that flares behind the legs on the Nike. The remaining fragments – the right part of the bust and a large part of the left wing – too incomplete to be placed on the statue, are stored. Given the exceptional quality of the sculpture, Longpérier decided to present the body alone, exhibited until 1880 among the Roman statues first in the Caryatid Room, then briefly in the Tiber Room.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        From 1875, Austrian archaeologists who, under the direction of Alexander Conze, had been excavating the buildings of the Samothrace sanctuary since 1870, studied the location where Champoiseau had found the Victory. Architect Aloïs Hauser drew the grey marble blocks left on-site and apprehended that, once properly assembled, they form the tapered bow of a warship, and that, placed on a base of slabs, they served as the basis for the statue. Tetradrachmas of Demetrios Poliorcetes struck between 301 and 292 BC. representing a Victory on the bow of a ship, wings outstretched, give a good idea of this type of monument. For his part, the specialist in ancient sculpture O. Benndorf is responsible for studying the body of the statue and the fragments kept in reserve at the Louvre, and restored the statue blowing into a trumpet that she raises with her right arm, as on the coin. The two men thus managed to make a model of the Samothrace monument as a whole.
      <br><br>
      Champoiseau, informed of this research, undertook a second mission to Samothrace from August 15 to 29, 1879, for the sole purpose of sending the blocks of the base and the slabs of the Victory base to the Louvre. He abandoned on the island the largest block of the base, unsculpted. Two months later, the blocks reached the Louvre Museum, where in December an assembly test was carried out in a courtyard.
<br><br>
    </div>

