<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Lincoln Memorial Statue
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.nps.gov/nama/blogs/images/Lincoln2.jpg?maxwidth=650&autorotate=false" alt="Lincoln Memorial Statue">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>braham Lincoln (1920) is a colossal seated figure of the 16th President of the United States Abraham Lincoln (1809–1865) sculpted by Daniel Chester French (1850–1931) and carved by the Piccirilli Brothers. Located in the Lincoln Memorial (constructed 1914–1922), on the National Mall, Washington, D.C., United States, the statue was unveiled in 1922. The work follows in the Beaux Arts and American Renaissance style traditions.
        <br><br>
        The 170-ton statue is composed of 28 blocks of white Georgia marble (Georgia Marble Company) and rises 30 feet (9.1 m) from the floor, including the 19-foot (5.8 m) seated figure (with armchair and footrest) upon an 11-foot (3.4 m) high pedestal. The figure of Lincoln gazes directly ahead and slightly down with an expression of
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        gravity and solemnity. His frock coat is unbuttoned, and a large United States flag is draped over the chair back and sides. French paid special attention to Lincoln's expressive hands, which rest on the enormous arms of a semi-circular ceremonial chair, the fronts of which bear fasces, emblems of authority from Roman antiquity. French used casts of his own fingers to achieve the correct placement. 
        <br><br>
        Daniel Chester French was selected in 1914 by the Lincoln Memorial Committee to create a Lincoln statue as part of the memorial to be designed by architect Henry Bacon (1866–1924). French was already famous for his 1874 The Minute Man statue in Concord, Massachusetts, and other works such as his 1884 John Harvard statue. He was also the personal choice of Bacon who had already been collaborating with him for nearly 25 years. French resigned his chairmanship of the Fine Arts Commission in Washington, D.C. — a group closely affiliated with the memorial's design and creation — and commenced work in December.
        <br><br>
        French had already created (1909–1912) a major memorial statue of Lincoln—this one standing—for the Nebraska State Capitol (Abraham Lincoln, 1912) in Lincoln, Nebraska. His previous studies of Lincoln—which included biographies, photographs, and a life mask of Lincoln by Leonard Volk done in 1860—had prepared him for the challenging task of the larger statue. For the national memorial, he and Bacon decided that a large seated figure would be most appropriate. French started with a small clay study and subsequently created several plaster models, each time making subtle changes in the figure's pose or setting. He placed the President not in an ordinary 19th-century seat, but in a classical chair including fasces, a Roman symbol of authority, to convey that the subject was an eminence for all the ages.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Three plaster models of the Lincoln statue are at French's Chesterwood Studio, a National Trust Historic Site in Stockbridge, Massachusetts, including a plaster sketch (1915) and a six-foot plaster model (1916). The second of French's plasters, created at Chesterwood in the summer of 1916 (inscribed October 31) became the basis of the final work, which was originally envisioned as a 12-foot (3.7 m) bronze. In deciding the size of final statue French and Bacon took photographic enlargements of the model to the memorial under construction. Eventually French's longtime collaborators, the firm of Piccirilli Brothers, were commissioned to do the carving of a much larger sculpture, in marble from a quarry near Tate, Georgia.
        <br><br>
        It took a full year for French's design to be transferred to the massive marble blocks. French provided finishing strokes in the carvers' studio in The Bronx, New York City and after the statue was assembled in the memorial on the National Mall in 1920. Lighting the statue was a particular problem. In creating the work, French had understood that a large skylight would provide direct, natural illumination from overhead, but this was not included in the final plans. The horizontal light from the east caused Lincoln's facial features to appear flattened—making him appear to stare blankly, rather than wear a dignified expression—and highlighted his shins. French considered this a disaster. In the end, an arrangement of electric lights was devised to correct this situation. The work was unveiled at the memorial's formal dedication on May 30, 1922.
        <br><br>
        It is often said that the Lincoln figure is signing his own initials in the American manual alphabet: A with his left hand, "L" with his right. The National Park Service is at best ambivalent toward the story, saying "It takes some imagination to see signs in Lincoln's hands." French had a deaf son and had depicted Thomas Hopkins Gallaudet signing in the manual alphabet.
<br><br>
    </div>
