<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Moses
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.wantedinrome.com/i/preview/storage/uploads/2018/09/moses-michelangelo-st-peter-in-chains-rome.jpg" alt="Moses">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">M</span>oses (Italian: Mosè [moˈzɛ]; c. 1513–1515) is a sculpture by the Italian High Renaissance artist Michelangelo, housed in the church of San Pietro in Vincoli in Rome. Commissioned in 1505 by Pope Julius II for his tomb, it depicts the biblical figure Moses with horns on his head, based on a description in chapter 34 of Exodus in the Vulgate, the Latin translation of the Bible used at that time.
        <br><br>
        Pope Julius II commissioned Michelangelo to build his tomb in 1505 and it was finally completed in 1545; Julius II died in 1513. The initial design by Michelangelo was massive and called for over 40 statues. The statue of Moses would have been placed on a tier about 3.74 meters high (12 ft 3 in), opposite a figure of St. Paul. In the final design, the statue of Moses sits in the center of the bottom tier.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Giorgio Vasari in the "Life of Michelangelo" wrote: "Michelangelo finished the Moses in marble, a statue of five braccia, unequaled by any modern or ancient work. Seated in a serious attitude, he rests with one arm on the tablets, and with the other holds his long glossy beard, the hairs, so difficult to render in sculpture, being so soft and downy that it seems as if the iron chisel must have become a brush. The beautiful face, like that of a saint and mighty prince, seems as one regards it to need the veil to cover it, so splendid and shining does it appear, and so well has the artist presented in the marble the divinity with which God had endowed that holy countenance. The draperies fall in graceful folds, the muscles of the arms and bones of the hands are of such beauty and perfection, as are the legs and knees, the feet were adorned with excellent shoes, that Moses may now be called the friend of God more than ever, since God has permitted his body to be prepared for the resurrection before the others by the hand of Michelangelo. The Jews still go every Saturday in troops to visit and adore it as a divine, not a human thing."
        <br><br>
        The English translation of Sigmund Freud's "The Moses of Michelangelo" also provides a basic description of the sculpture: "The Moses of Michelangelo is represented as seated; his body faces forward, his head with its mighty beard looks to the left, his right foot rests on the ground, and his left leg is raised so that only the toes touch the ground. His right arm links the Tables of the Law with something that looks like a book in the right palm of his hand with a portion of his beard; his left arm lies in his lap."
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Jonathan Jones of the English newspaper, The Guardian, provides another description: "Moses's right hand protects the stone tablets bearing the Commandments; his left hand, veins throbbing, muscles tense, appears to be holding back from the violent action. When he came down from Mount Sinai, Moses found his people worshipping the Golden Calf – the false idol they had made. His anger defies the prison of stone, the limits of the sculptor's art. Few can resist the impression of a real mind, real emotions, in the figure that glares from his marble seat. Today, he glares at the tourists who mob the church of San Pietro in Vincoli, Rome. He outfaces them, just as he outfaced Sigmund Freud, who spent three weeks in 1913 trying to figure out the sculpture's emotional effect. Moses's vitality has made this work popular since the 16th century; according to Vasari, Rome's Jewish population adopted the statue as their own. Its power must have something to do with the rendition of things that should be impossible to depict in stone; most quirkily, the beard – so ropy and smoky, its coils gave fantastic, snaking life. But where others might astonish us with technique, Michelangelo goes beyond this, leading us from formal to intellectual surprise, making us wonder why Moses fondles his beard, why Michelangelo has used this river of hair – in combination with the horns that were a conventional attribute of Moses – to give him an inhuman, demonic aspect."
      <br><br>
      In his 1914 essay entitled "The Moses of Michelangelo", Sigmund Freud associates the moment in the biblical narrative when Moses descends from the mountain the first time, carrying the tablets, and finds the Hebrew people worshipping the Golden Calf, as described in Exodus 32.
<br><br>
    </div>

