<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Perseus with the Head of Medusa
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.pixelle.co/wp-content/uploads/2018/01/Benvenuto-Cellinis-statue-Perseus-With-the-Head-of-Medusa--900x660.jpg" alt="Perseus with the Head of Medusa">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">P</span>erseus with the Head of Medusa is a bronze sculpture made by Benvenuto Cellini in the period 1545–1554. The sculpture stands on a square base which has bronze relief panels depicting the story of Perseus and Andromeda, similar to a predella on an altarpiece. It is located in the Loggia dei Lanzi in the Piazza della Signoria in Florence, Italy. The second Florentine duke, Duke Cosimo I de' Medici, commissioned the work with specific political connections to the other sculptural works in the piazza. When the piece was revealed to the public on 27 April 1554, Michelangelo's David, Bandinelli's Hercules and Cacus, and Donatello's Judith and Holofernes were already installed in the piazza.
        <br><br>
        The subject matter of the work is the mythological story of Perseus beheading Medusa, a hideous woman-faced Gorgon whose hair had been turned to snakes; anyone who looked at 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        her was turned to stone. Perseus stands naked except for a sash and winged sandals, triumphant on top of the body of Medusa with her head, crowned with writhing snakes, in his raised hand. Blood spews from Medusa's severed neck. The bronze sculpture, in which Medusa's head turns men to stone, is appropriately surrounded by three huge marble statues of men: Hercules, David, and later Neptune. Cellini's use of bronze in Perseus and the head of Medusa, and the motifs he used to respond to the previous sculpture in the piazza, were highly innovative. Examining the sculpture from the back, one can see a self-portrait of the sculptor Cellini on the back of Perseus' helmet. The sculpture is thought to be the first statue since the classical age where the base included a figurative sculpture forming an integral part of the work.
        <br><br>
        Cellini was the first to integrate narrative relief into the sculpture of the piazza. As the Perseus was installed in the Loggia, it dominated the dimensions of later pedestals of other sculptural works within the Loggia, like Giambologna's The Rape of the Sabine Women. Perseus added to the cast of Olympian gods protecting the Medici. Weil-Garris also focuses on the pedestal beneath the sculpture in the round. However, the present pedestal may not have been Cellini's original intent, as the relief was still being worked on and installed when the bronze sculpture above had already been revealed. The Medici still dominated the theme of the pedestal as Perseus in the pedestal is an allegory for Duke Francesco Medici.
        <br><br>
        The politics of the Medici and Florence dominate the Piazza della Signoria, specifically making reference to the first three Florentine dukes. Duke Alessandro I was the first Florentine duke, and Hercules and Cacus was revealed during his time, meeting with a terrible reception by the public in 1534. The next sculpture to be revealed was Cellini's Perseus and Cosimo I was very cautious about the public's reaction to the piece. Fortunately, the public received the sculpture well, as Cosimo watched the reception from a window in the Palazzo Vecchio. The third duke is directly related to the sculpture's relief panel on the base as the Perseus can be seen as a symbol for Duke Francesco and Andromeda as his Habsburg bride, Giovanna. Similarly, Andromeda acts as an allegory for Florence, while Perseus is the collective Medici swooping down to save the city. Cellini chose to represent the sad side of the story of Andromeda; however, he created a focus on the Medici, like Perseus, saving the unsmiling Andromeda. Every sculpture in the piazza can be seen as politically or artistically related to one another and to the Medici.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        At the time the sculpture was created, bronze had not been used in almost half a century for a monumental work of art. Cellini made the conscious decision to work in this medium because by pouring molten metal into his cast, he was vivifying the sculpture with life-giving blood. The most difficult part would be completing the entire cast all at once. Donatello's Judith and Holofernes was already placed in the Loggia dei Lanzi in the westernmost arch. Judith had been cast in bronze, but in several sections joined together. Cellini was competing against monumental works of marble sculpture like Michelangelo's David and wanted to make a statement for himself and his patron, Cosimo I.
        <br><br>
        Michael Cole specifically draws attention to the process of casting the Perseus. Citing Cellini's Vita, Cole notes how Cellini's assistants let the metal clot, and had Cellini not been present the work would have been destroyed. Cole then asserts that Cellini goes beyond reviving the work but raised the dead, in which he means that Cellini's salvation was remelting the bronze. Cellini also invokes Christ and by doing so he breathes life into the sculpture. Casting the Perseus was more than meeting the demand of Cosimo I; Cellini was proving himself to Florence in a newly refurbished medium.
      <br><br>
      Perseus was one of Cellini's crowning works, completed with two different ideas in mind. He wanted to respond to the sculpture already placed within the piazza, which he did with the subject matter of Medusa reducing men to stone. Secondly, the Medici were represented by Perseus, both in the round sculpture and the relief below. Moreover, in that respect, Cellini also made a statement for himself in the actual casting of Perseus. Cellini breathed life into his new sculpture through his use of bronze and he asserted Medici control over the Florentine people through the Perseus motif.
    <br><br>
There is an exquisite, though smaller scale, bronze copy of the Perseus displayed outside The Ringling Museum in Sarasota, Florida, USA.
<br><br>
    </div>

