<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Discobolus
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://sjcnygreece2018elisa.files.wordpress.com/2018/05/discobolus.jpg" alt="Discobolus">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Discobolus by Myron ("discus thrower", Greek: Δισκοβόλος, Diskobólos) is an Ancient Greek sculpture completed at the start of the Classical period at around 460–450 BC. The sculpture depicts a youthful male athlete throwing a discus. The bronze Greek original is lost. The work is known through its numerous Roman copies, both full-scale ones in marble, which is cheaper than bronze, such as the first to be recovered, the Palombara Discobolus, and smaller scaled versions in bronze.
        <br><br>
        The discus thrower is depicted as about to release his throw: "by sheer intelligence", Kenneth Clark observed in The Nude, "Myron has created the enduring pattern of athletic energy. He has taken a moment of action so transitory that students of athletics still debate if it is feasible, and he has given it the completeness of a cameo." The moment thus captured in the statue is an example of rhythmos, harmony and balance. Myron is often credited with being the first sculptor to master this style. Naturally, as always in Ancient Greek athletics, the Discobolus is completely nude. His pose is said to be unnatural to a human, and is considered as per modern standards a rather inefficient way to throw the discus. Myron represents the body at the moment of its maximum tension and splendor. The body torsion is vigorous and, at the same time, harmonious and delicate. However, the great effort of the athlete is not reflected in his face, which displays only a tenuous 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        concentration. As Clark observes, "to a modern eye, it may seem that Myron's desire for perfection has made him suppress too rigorously the sense of strain in the individual muscles". The other trademark of Myron embodied in this sculpture is how well the body is proportioned the symmetria.
        <br><br>
        The potential energy expressed in this sculpture's tightly wound pose, expressing the moment of stasis just before the release, is an example of the advancement of Classical sculpture from Archaic. The torso shows no muscular strain, however, even though the limbs are outflung.
        <br><br>
        Prior to this statue's discovery, the term Discobolus had been applied in the 17th and 18th centuries to a standing figure holding a discus, a Discophoros, which Ennio Quirino Visconti identified as the Discobolus of Naukydes of Argos, mentioned by Pliny (Haskell and Penny 1981:200).
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Discobolus Palombara, the first copy of this famous sculpture to have been discovered, was found in 1781. It is a 1st-century AD copy of Myron's original bronze. Following its discovery at a Roman property of the Massimo family, the Villa Palombara on the Esquiline Hill, it was initially restored by Giuseppe Angelini; the Massimo installed it in their Palazzo Massimo alle Colonne and then at Palazzo Lancellotti. The Italian archaeologist Giovanni Battista Visconti identified the sculpture as a copy from the original of Myron. It was instantly famous, though the Massimo jealously guarded access to it (Haskell and Penny 1981:200).
      <br><br>
      In 1937, Adolf Hitler negotiated to buy it, and eventually succeeded in 1938, when Galeazzo Ciano, Minister of Foreign Affairs, sold it to him for five million lire, over the protests of Giuseppe Bottai, Minister of Education, and the scholarly community. It was shipped by rail to Munich and displayed in the Glyptothek; it was returned in 1948. It is now in the National Museum of Rome, displayed at the Palazzo Massimo.
<br><br>
    </div>
