<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Apollo And Daphne
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apollo_and_Daphne_%28Bernini%29_%28cropped%29.jpg/1200px-Apollo_and_Daphne_%28Bernini%29_%28cropped%29.jpg" alt="Apollo And Daphne">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>pollo and Daphne is a transformation myth. No written or artistic versions survive from ancient Greek mythology, so it is likely Hellenistic in origin. It was retold by Roman authors in the form of an amorous vignette.
        <br><br>
        The earliest known source of this myth is Parthenius, a Greek poet who lived during the 1st century BCE,[2] however, the most well-known and lyrical telling was by the Roman poet Ovid in his Metamorphoses (I.438-567), a collection of Greek fables first written in 8 CE.
        <br><br>
        The myth purportedly explains the origin of the laurel tree and its connection to Apollo, although "Apollo was emphatically associated with the laurel before the advent of the Daphne myth."
        <br><br>
        Apollo's priestess employed the use of the leaves at Delphi and they also became the symbol of victory and achievement as laurel wreaths were given to the victors of the Pythian Games.
        </text></span>      
    </content>
