<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Horses Of Saint Mark
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Horses_of_Basilica_San_Marco_bright.jpg" alt="Horses Of Saint Mark">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Horses of Saint Mark (Italian: Cavalli di San Marco), also known as the Triumphal Quadriga or Horses of the Hippodrome of Constantinople, is a set of bronze statues of four horses, originally part of a monument depicting a quadriga (a four-horse carriage used for chariot racing). The horses were placed on the facade, on the loggia above the porch, of St Mark's Basilica in Venice, northern Italy after the sack and looting of Constantinople in 1204. They remained there until looted by Napoleon in 1797 but were returned in 1815. The sculptures have been removed from the facade and placed in the interior of St Mark's for conservation purposes, with replicas in their position on the loggia.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The sculptures date from classical antiquity. A date in the 2nd or 3rd century AD is considered likely; the famous Equestrian Statue of Marcus Aurelius in Rome (c. 175 AD) provides a point of comparison. However, some scholars do claim the naturalistic rendering of the animals and technical expertise in execution point to a Classical Greek origin. They were probably created to top a triumphal arch or some other grand building, perhaps commissioned by the Emperor Septimus Severus. They may originally have been made for the Eastern capital of Constantinople, and certainly reached there later.
        <br><br>
        Although called bronze, analysis suggests that, as they are at least 96.67% copper, they should be seen as an impure copper rather than bronze. The relatively low tin content increased the casting temperature to 1200–1300 °C. The high purity copper was chosen to give a more satisfactory mercury gilding.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        It is certain that the horses, along with the quadriga with which they were depicted, were long displayed at the Hippodrome of Constantinople; they may be the "four gilt horses that stand above the Hippodrome" that "came from the island of Chios under Theodosius II" mentioned in the 8th- or early 9th-century Parastaseis syntomoi chronikai. They were still there in 1204, when they were looted by Venetian forces as part of the sack of the capital of the Byzantine Empire in the Fourth Crusade. The collars on the four horses were added in 1204 to obscure where the animals' heads had been severed to allow them to be transported from Constantinople to Venice. Shortly after the Fourth Crusade, Doge Enrico Dandolo sent the horses to Venice, where they were installed on the terrace of the façade of St Mark's Basilica in 1254. Petrarch admired them there.
        <br><br>
        In 1797, Napoleon had the horses forcibly removed from the basilica and carried off to Paris, where they were used in the design of the Arc de Triomphe du Carrousel together with a quadriga.
        <br><br>
        In 1815, following the final defeat of Napoleon, the horses were returned to Venice by Captain Dumaresq. He had fought at the Battle of Waterloo and was with the Coalition forces in Paris where he was selected, by the Emperor of Austria, to take the horses down from the Arc de Triomphe du Carrousel and return them to St Mark's in Venice. For the skillful manner in which he performed this work, the Emperor gave him a gold snuff box with his initials in diamonds on the lid.
      <br><br>
      The horses remained in place over St Mark's until the early 1980s, when ongoing damage from air pollution forced their replacement with exact copies. Since then, the originals have been on display just inside the basilica.
<br><br>
    </div>

