<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Varvakeion Athena
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://render.fineartamerica.com/images/rendered/default/print/4.5/8/break/images-medium-5/phidias-490-431-bc-varvakeion-athena-everett.jpg" alt="Varvakeion Athena">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Varvakeion Athena is a Roman-era statue of Athena Parthenos now part of the collection of the National Archaeological Museum of Athens. It is generally considered to be the most faithful reproduction of the chryselephantine statue made by Phidias and his assistants, which once stood in the Parthenon. It is dated to 200–250 AD.
        <br><br>
        The statue is 1.05 m (41 in) tall, approximately one twelfth the estimated height of the original. It is carved of pentelic marble and bears traces of red and yellow paint. Athena is dressed in a peplos belted with a zone in the form of two snakes; over this she wears the aegis, decorated with snakes and with the gorgoneion in the center. She wears an Attic helmet with the cheek guards upturned; it has three crests, the center sporting a sphinx and those on the sides a pegasus. Her left hand rests on the rim of a shield which also bears the gorgoneion; the shield rests against the oikouros ophis (sacred snake) identified with Erichthonios, the city's legendary founder. The outstretched right hand is supported by a column and holds a winged figure of Nike, the head of which is missing. This smaller image is likewise garbed in a peplos and is turned somewhat towards the main figure. The whole assemblage rests on a rectangular base.
        <br><br>
        Certain differences between the original as described by Pausanias and Pliny may be noted. The original base was decorated with a frieze showing the birth of Pandora, whereas the copy is plain; Pausanias also describes a spear which the copy lacks. The shield lacks the amazonomachy on the front which Pliny describes. The presence of the 
        </text></span>      
    </content>

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        column is cited by many in the argument over whether the original required a similar support, though many reconstructions omit it (e.g. that in the Nashville Parthenon).
        <br><br>
            The statue is named for the locale of its discovery in 1880, in the ruins of a Roman house near the original site of the Varvakeion School.
<br><br>
    </div>
