<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Angel of Independence
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cdn.pixabay.com/photo/2022/04/08/07/21/angel-of-independence-7118907_640.jpg" alt="The Angel of Independence">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Angel of Independence, most commonly known by the shortened name El Ángel and officially known as Monumento a la Independencia ("Monument to Independence"), is a victory column on a roundabout on the major thoroughfare of Paseo de la Reforma in downtown Mexico City.
        <br><br>
        El Ángel was built in 1910 during the presidency of Porfirio Díaz by architect Antonio Rivas Mercado, to commemorate the centennial of the beginning of Mexico's War of Independence. In later years it was made into a mausoleum for the most important heroes of that war. It is one of the most recognizable landmarks in Mexico City, and it has become a focal point for both celebration and protest. It resembles the July Column in Paris, the Berlin Victory Column in Berlin and Columbus Monument in New York City.
        <br><br>
        The base of the column is quadrangular with each vertex featuring a bronze sculpture symbolizing law, war, justice and peace. Originally, nine steps led to the base, but due to the sinking of the ground, an ongoing problem in Mexico City, fourteen more steps have been added.
        <br><br>
        On the main face of the base facing downtown Mexico City, an inscription reads La Nación a los Héroes de la Independencia ("The Nation to the Heroes of Independence"). In front of this inscription is a bronze statue of a giant,
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;"> 
        laureled lion that guides a child, which symbolizes, according to Rivas Mercado, "the Mexican people, strong during war and docile during peace."
        <br><br>
        Next to the column is a group of marble statues of some of the heroes of the War of Independence. The column itself is 36 metres (118 ft) high. The structure is made of steel covered with quarried stone decorated with garlands, palms and rings with the names of Independence figures. Inside the column is a two-hundred step staircase that leads to a viewpoint above the capital. The Corinthian-style capital is adorned by four eagles with extended wings from the Mexican coat of arms used at the time.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Crowning the column is a 6.7 metres (22 ft) statue by Enrique Alciati of Nike, the Greek goddess of Victory. Like other similar victory columns around the world, it is made of bronze covered with 24k gold (restored in 2006), and weighs seven tons. In her right hand the Angel, as it is commonly known, holds a laurel crown symbolically above both Miguel Hidalgo's head and the nation below, symbolizing Victory, while in her left she holds a broken chain, symbolizing Freedom.
      <br><br>
      Construction of the column of independence topped by a depiction of winged victory was ordered in 1900 by President Porfirio Díaz. Antonio Rivas Mercado began to design the monument, envisioned as a column with both classical and modern elements, with bronze statues at its base. The foundation stone was laid on January 2, 1902.
<br><br>
    </div>

