<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Moai
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://th-thumbnailer.cdn-si-edu.com/863dppm0rVLp_c33NUxNa9jlwY4=/fit-in/1600x0/filters:focal(500x376:501x377)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/0b/9c/0b9cbc6c-72f7-48ff-b4fc-9b6e6061832e/gettyimages-921707628.jpeg" alt="Moai">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">M</span>oai or moʻai (/ˈmoʊ.aɪ/ (listen) MOH-eye; Spanish: moái; Rapa Nui: moʻai, lit. 'statue') are monolithic human figures carved by the Rapa Nui people on Rapa Nui (Easter Island) in eastern Polynesia between the years 1250 and 1500. Nearly half are still at Rano Raraku, the main moai quarry, but hundreds were transported from there and set on stone platforms called ahu around the island's perimeter. Almost all moai have overly large heads, which comprise three-eighths the size of the whole statue and they have no legs. The moai are chiefly the living faces (aringa ora) of deified ancestors (aringa ora ata tepuna). The statues still gazed inland across their clan lands when Europeans first visited the island in 1722, but all of them had fallen by the latter part of the 19th century. The moai were toppled in the late 18th and early 19th centuries, possibly as a result of European contact or internecine tribal wars.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The production and transportation of the more than 900 statues is considered a remarkable creative and physical feat. The tallest moai erected, called Paro, was almost 10 metres (33 ft) high and weighed 82 tonnes (81 long tons; 90 short tons). The heaviest moai erected was a shorter but squatter moai at Ahu Tongariki, weighing 86 tonnes (85 long tons; 95 short tons). One unfinished sculpture, if completed, would be approximately 21 m (69 ft) tall, with a weight of about 145–165 tonnes (143–162 long tons; 160–182 short tons). Statues are still being discovered as of 2023.
        <br><br>
        The moai are monolithic statues, and their minimalist style reflects forms found throughout Polynesia. Moai are carved from volcanic tuff (solidified ash). The human figures would be outlined in the rock wall first, then chipped away until only the image was left. The over-large heads (a three-to-five ratio between the head and the trunk, a sculptural trait consistent with the Polynesian belief in the sanctity of the chiefly head) have heavy brows and elongated noses with a distinctive fish-hook-shaped curl of the nostrils. The lips protrude in a thin pout. Like the nose, the ears are elongated and oblong in form. The jaw lines stand out against the truncated neck. The torsos are heavy, and, sometimes, the clavicles are subtly outlined in stone. The arms are carved in bas relief and rest against the body in various positions, hands and long slender fingers resting along the crests of the hips, meeting at the hami (loincloth), with the thumbs sometimes pointing towards the navel. Generally, the anatomical features of the backs are not detailed, but sometimes bear a ring and girdle motif on the buttocks and lower back. Except for one kneeling moai, the statues do not have clearly visible legs.
        <br><br>
        Though moai are whole-body statues, they are often referred to as "Easter Island heads" in some popular literature. This is partly because of the disproportionate size of most moai heads, and partly because many of the images for the island showing upright moai are of the statues on the slopes of Rano Raraku, many of which are buried to their shoulders. Some of the "heads" at Rano Raraku have been excavated and their bodies seen, and observed to have markings that had been protected from erosion by their burial.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The average height of the moai is about 4 m (13 ft), with the average width at the base around 1.6 m (5.2 ft). These massive creations usually weigh around 12.5 tonnes (13.8 tons) each.
      <br><br>
      All but 53 of the more than 900 moai known to date were carved from tuff (a compressed volcanic ash) from Rano Raraku, where 394 moai in varying states of completion are still visible today. There are also 13 moai carved from basalt, 22 from trachyte and 17 from fragile red scoria. At the end of carving, the builders would rub the statue with pumice.
<br><br>
    </div>

