<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Thinker
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Mus%C3%A9e_Rodin_1.jpg" alt="The Thinker">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Thinker (French: Le Penseur) is a bronze sculpture by Auguste Rodin, usually placed on a stone pedestal. The work depicts a nude male figure of heroic size sitting on a rock. He is seen leaning over, his right elbow placed on his left thigh, holding the weight of his chin on the back of his right hand. The pose is one of deep thought and contemplation, and the statue is often used as an image to represent philosophy.
        <br><br>
        Rodin conceived the figure as part of his work The Gates of Hell commissioned in 1880, but the first of the familiar monumental bronze castings was made in 1904, and is now exhibited at the Musée Rodin, in Paris.
        <br><br>
        There are 27 other known full-sized castings, in which the figure is approximately 185 cm (73 inches) high, though not all were made during Rodin's lifetime and under his supervision. There are various other versions, several in plaster, and studies and posthumous castings exist in a range of sizes.
        <br><br>
        The Thinker was initially named The Poet (French: Le Poète), and was part of a large commission begun in 1880 for a doorway surround called The Gates of Hell. Rodin based this on the early 14th century poem The Divine Comedy by Dante Alighieri, and most of the figures in the work represented the main characters in composition over the doorway and somewhat larger than most of
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        the other figures. Some critics believe that it was originally intended to depict Dante at the gates of Hell, pondering his great poem.
        <br><br>
        Other critics reject that theory, pointing out that the figure is naked while Dante is fully clothed throughout his poem, and that the sculpture's physique does not correspond to Dante's effete figure. The sculpture is nude, as Rodin wanted a heroic figure in the tradition of Michelangelo, to represent intellect as well as poetry. Other critics came to see the sculpture as a self-portrait. This detail from the Gates of Hell was first named The Thinker by foundry workers, who noted its similarity to Michelangelo's statue of Lorenzo de Medici called Il Pensieroso (The Thinker).
        <br><br>
        The model for this sculpture, as for other works by Rodin, was the muscular French prizefighter and wrestler Jean Baud, who mostly appeared in the red-light district. Jean Baud was also featured on the 1911 Swiss 50 franc note by Hodler.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The original is in the Musée Rodin in Paris. The sculpture has a height of 72 cm, was made of bronze and had been finely patinated and polished. The work depicts a nude male figure of heroic size who is tense, muscular and internalized, contemplating the actions and fate of the people while sitting on a rock. He is seen leaning over, his right elbow placed on his left thigh, holding the weight of his chin on the back of his right hand. The pose is one of deep thought and contemplation, and the statue is often used as an image to represent philosophy. This and many other works by Rodin were groundbreaking for modernism and heralded a new age of three-dimensional artistic creation.
      <br><br>
      The work was enlarged in 1902 to a height of 181 cm. The monumental version became the artist's first work in public space. The figure was designed to be seen from below and is normally displayed on a fairly high plinth, although the heights vary considerably chosen by the various owners.
<br><br>
    </div>

