<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Little Mermaid
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/6H4O3IRXKBPNHNNVI6JRPRMNLY.jpg" alt="The Little Mermaid">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Little Mermaid (Danish: Den lille Havfrue) is a bronze statue by Edvard Eriksen, depicting a mermaid becoming human. The sculpture is displayed on a rock by the waterside at the Langelinie promenade in Copenhagen, Denmark. It is 1.25 metres (4.1 ft) tall and weighs 175 kilograms (385 lb).
        <br><br>
        Based on the 1837 fairy tale of the same name by Danish author Hans Christian Andersen, the small and unimposing statue is a Copenhagen icon and has been a major tourist attraction since its unveiling in 1913. In recent decades it has become a popular target for defacement by vandals and political activists.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The statue was commissioned in 1909 by Carl Jacobsen, son of the founder of Carlsberg, who had been fascinated by a ballet about the fairytale in Copenhagen's Royal Theatre and asked the ballerina, Ellen Price, to model for the statue. The sculptor Edvard Eriksen created the bronze statue, which was unveiled on August 23, 1913. The statue's head was modelled after Price, but as the ballerina did not agree to model in the nude, the sculptor's wife, Eline Eriksen, was used for the body.
        <br><br>
        The Copenhagen City Council arranged to move the statue to Shanghai at the Danish Pavilion for the duration of the Expo 2010 (May to October), the first time it had been moved officially from its perch since it was installed almost a century earlier. While the statue was away in Shanghai an authorised copy was displayed on a rock in the lake in Copenhagen's nearby Tivoli Gardens. Copenhagen officials have considered moving the statue several meters out into the harbour to discourage vandalism and to prevent tourists from climbing onto it, but as of September 2022 the statue remains on dry land at the water side at Langelinie.
        <br><br>
        The statue has been damaged and defaced many times since the mid-1960s for various reasons, but has been restored each time.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        On April 24, 1964, the statue's head was sawn off and stolen by politically oriented artists of the Situationist movement, amongst them Jørgen Nash. The head was never recovered and a new head was produced and placed on the statue. On July 22, 1984, the right arm was sawn off and returned two days later by two young men. In 1990, an attempt to sever the statue's head left an 18 centimeters (7 in) deep cut in the neck.
      <br><br>
      On January 6, 1998, the statue was decapitated again; the culprits were never found, but the head was returned anonymously to a nearby television station, and reattached on February 4. On the night of September 10, 2003, the statue was knocked off its base with explosives and later found in the harbour's waters. Holes had been blasted in the mermaid's wrist and knee.
<br><br>
    </div>
