<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Terrace of the Lions
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 400px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://img.atlasobscura.com/16gMwaTO8mAgU3qM4HhNA2Sl77eSB4i000_xSOS3n-0/rs:fill:780:520:1/g:ce/c:3370:2247:nowe:0:0/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy8xNWNk/NDM4MWY0MmM3YmZj/YjhfNjUwNSBEw6ls/b3MgLSBUZXJyYXNz/ZSBkZXMgTGlvbnMg/LSAxOTk2LmpwZw.jpg" alt="Terrace of the Lions">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he island of Delos, recognized as the birthplace of the god Apollo, has been a sacred area used for various reasons throughout history. Today it is one of the most important archaeological sights in Greece and is covered in excavations, one of which is the famous Terrace of the Lions. This terrace was erected and dedicated to Apollo by the people of Naxos just before 600 BCE. The terrace consisted of a row of nine to twelve marble carved lions that faced eastward towards the Sacred Lake of Delos along the Sacred Way from Skardana Bay to the temples. The lions, with their mouths open as if roaring or snarling, were both meant to guard the sanctuaries and to inspire a feeling of divine fear among the worshippers. The way in which they were positioned is similar to the way sphinxes were set up along avenues in ancient Egypt.
        </text></span>      
    </content>

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Today, only five of the original lions remain with remnants of three others and the headless body of another has been transported and put over the main gate of a Venetian arsenal.
<br><br>
    </div>

