<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Nemrut Dağ
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 590px; height: 450px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://whc.unesco.org/uploads/thumbs/site_0448_0010-750-750-20140708162215.jpg" alt="Nemrut Dağ">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he mausoleum of Antiochus I (69–34 B.C.), who reigned over Commagene, a kingdom founded north of Syria and the Euphrates after the breakup of Alexander's empire, is one of the most ambitious constructions of the Hellenistic period. The syncretism of its pantheon, and the lineage of its kings, which can be traced back through two sets of legends, Greek and Persian, is evidence of the dual origin of this kingdom's culture.
        <br><br>
        Crowning one of the highest peaks of the Eastern Taurus mountain range in south-east Turkey, Nemrut Dağ is the Hierotheseion (temple-tomb and house of the gods) built by the late Hellenistic King Antiochos I of Commagene (69-34 B.C.) as a monument to himself.
        <br><br>
        With a diameter of 145 m, the 50 m high funerary mound of stone chips is surrounded on three sides by terraces to the east, west and north directions. Two separate antique processional routes radiate from the east
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        and west terraces. Five giant seated limestone statues, identified by their inscriptions as deities, face outwards from the tumulus on the upper level of the east and west terraces. These are flanked by a pair of guardian animal statues – a lion and eagle – at each end. The heads of the statues have fallen off to the lower level, which accommodates two rows of sandstone stelae, mounted on pedestals with an altar in front of each stele. One row carries relief sculptures of Antiochos’ paternal Persian ancestors, the other of his maternal Macedonian ancestors. Inscriptions on the backs of the stelae record the genealogical links. A square altar platform is located at the east side of the east terrace. On the west terrace there is an additional row of stelae representing the particular significance of Nemrut, the handshake scenes (dexiosis) showing Antiochos shaking hands with a deity and the stele with a lion horoscope, believed to be indicating the construction date of the cult area. The north terrace is long, narrow and rectangular in shape, and hosts a series of sandstone pedestals. The stelae lying near the pedestals on the north terrace have no reliefs or inscriptions.
        <br><br>
        The Hierotheseion of Antiochos I is one of the most ambitious constructions of the Hellenistic period. Its complex design and colossal scale combined to create a project unequalled in the ancient world. A highly developed technology was used to build the colossal statues and orthostats (stelae), the equal of which has not been found anywhere else for this period. The syncretism of its pantheon and the lineage of its kings, which can be traced back through two sets of legends, Greek and Persian, is evidence of the dual origin of this kingdom's culture.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Nemrut Dağ is largely intact and truthfully and credibly expresses it Outstanding Universal Value. The important cult areas of Commagene still exist, the structures are the original ones and their original interrelations can still be observed and perceived.  Although the property boundary contains the tumulus and the east, west and north terraces, it does not include the full extent of the ceremonial routes. The greatest threat to the integrity of the property is the material damage caused by environmental conditions such as serious seasonal and daily temperature variations, freezing and thawing cycles, wind, snow accumulation, and sun exposure.  The height of the tumulus is now reduced from its estimated original 60 m due to weathering, previous uncontrolled research investigations and climbing by visitors. Furthermore, the Nemrut property is located within a first degree earthquake zone and is very close to the East Anatolian Fault, which is seismically active. Therefore, the tumulus, statues and stelae are vulnerable to earthquakes.
      <br><br>
      Nemrut Dağ retains its authenticity in terms of form, materials and design as one of the unique artistic achievements of the Hellenistic period with its fascinating beauty of monumental sculptures in a spectacular setting. It has survived  in a moderately well-preserved state. The original ceremonial routes to the Hierotheseion are known and still used for access today.
<br><br>
    </div>

