<% layout('/layouts/boilerplate') %>
<style>
  body {
    background-color: black;
  }
</style>

  <p style="color: white; margin-left: 40px; font-size: 3em;">Statues</p>
    <div class="card-columns" style="margin-left: 40px; margin-right: 40px; margin-top: 15px;">

      <!-- 1 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/1">
        <img class="card-img-top" src="https://i.pinimg.com/564x/1e/4a/19/1e4a19b6e4e4cfe37e53d496d8443010.jpg" alt="Resting Grace Sitting Angel Sculpture">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Resting Grace Sitting Angel Sculpture</div>
        </div>
        </a>
      </div>

      <!-- 2 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/2">
        <img class="card-img-top" src="https://i.natgeofe.com/k/611a7aa1-57b3-4884-a2f6-2e0857c02257/united-states-statue-of-liberty-vertical_3x4.jpg" alt="Statue of Liberty">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Statue of Liberty</div>
        </div>
      </a>
      </div>

      <!-- 3 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/3">
        <img class="card-img-top" src="https://media.cntraveler.com/photos/58629e8e440f8ba323b9bbea/1:1/w_2848,h_2848,c_limit/christ-the-redeemer-statue-rio-cr-GettyImages-523194487.jpg" alt="Christ the Redeemer">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Christ the Redeemer</div>
        </div>
      </a>
      </div>
      
      <!-- 4 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/4">
        <img class="card-img-top" src="https://th-thumbnailer.cdn-si-edu.com/863dppm0rVLp_c33NUxNa9jlwY4=/fit-in/1600x0/filters:focal(500x376:501x377)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/0b/9c/0b9cbc6c-72f7-48ff-b4fc-9b6e6061832e/gettyimages-921707628.jpeg" alt="Moai">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Moai</div>
        </div>
        </a>
      </div>
      
      <!-- 5 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/5">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Mus%C3%A9e_Rodin_1.jpg" alt="The Thinker">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">The Thinker</div>
        </div>
      </a>
      </div>
      
      <!-- 6 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/6">
        <img class="card-img-top" src="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/6H4O3IRXKBPNHNNVI6JRPRMNLY.jpg" alt="The Little Mermaid">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">The Little Mermaid</div>
        </div>
      </a>
      </div>

      <!-- 7 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/7">
        <img class="card-img-top" src="https://d3dqioy2sca31t.cloudfront.net/Projects/cms/production/000/032/147/original/0f15a1b2c886d5f132bca8aa3c83d0bb/article-italy-florence-accademia-david-closeup.jpg" alt="David">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">David</div>
        </div>
      </a>
      </div>

      <!-- 8 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/8">
        <img class="card-img-top" src="https://img.atlasobscura.com/16gMwaTO8mAgU3qM4HhNA2Sl77eSB4i000_xSOS3n-0/rs:fill:780:520:1/g:ce/c:3370:2247:nowe:0:0/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy8xNWNk/NDM4MWY0MmM3YmZj/YjhfNjUwNSBEw6ls/b3MgLSBUZXJyYXNz/ZSBkZXMgTGlvbnMg/LSAxOTk2LmpwZw.jpg" alt="Terrace of the Lions">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Terrace of the Lions</div>
        </div>
      </a>
      </div>

      <!-- 9 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/9">
        <img class="card-img-top" src="https://whc.unesco.org/uploads/thumbs/site_0448_0010-750-750-20140708162215.jpg" alt="Nemrut Dağ">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Nemrut Dağ</div>
        </div>
      </a>
      </div>

      <!-- 10 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/10">
        <img class="card-img-top" src="https://images.pexels.com/photos/11278154/pexels-photo-11278154.jpeg?cs=srgb&dl=pexels-evgeny-kochurov-11278154.jpg&fm=jpg" alt="The Motherland Calls">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">The Motherland Calls</div>
        </div>
      </a>
      </div>

      <!-- 11 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/11">
        <img class="card-img-top" src="https://images.adsttc.com/media/images/5bd9/b552/f197/cc45/e900/00d6/medium_jpg/43914221_363966157680449_595145553531016098_n.jpg?1540994380" alt="Statue of Unity">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Statue of Unity</div>
        </div>
      </a>
      </div>

      <!-- 12 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/12">
        <img class="card-img-top" src="https://cdn.britannica.com/85/99185-050-E1110E5C/Great-Sphinx-Giza-Egypt.jpg" alt="Great Sphinx of Giza">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Great Sphinx of Giza</div>
        </div>
      </a>
      </div>

      <!-- 13 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/13">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Spring_Temple_Buddha_picturing_Vairocana%2C_in_Lushan_County%2C_Henan%2C_China.png/391px-Spring_Temple_Buddha_picturing_Vairocana%2C_in_Lushan_County%2C_Henan%2C_China.png" alt="Spring Temple Buddha">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Spring Temple Buddha</div>
        </div>
      </a>
      </div>

      <!-- 14 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/14">
        <img class="card-img-top" src="https://www.blackpast.org/wp-content/uploads/Olmec_Head_No_1_from_San_Lorenzo_October_8_2014_Photo_by_Mesoamerican_CC_BY-SA_4.0.jpg" alt="Olmec Heads">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Olmec Heads</div>
        </div>
      </a>
      </div>

      <!-- 15 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/15">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Nofretete_Neues_Museum.jpg" alt="Bust of Nefertiti">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Bust of Nefertiti</div>
        </div>
      </a>
      </div>

      <!-- 16 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/16">
        <img class="card-img-top" src="https://nypost.com/wp-content/uploads/sites/2/2019/04/terracotta1.jpg?quality=75&strip=all" alt="Terracotta Army">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Terracotta Army</div>
        </div>
      </a>
      </div>

      <!-- 17 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/17">
        <img class="card-img-top" src="https://www.reed.edu/reed-magazine/assets/images/2022/Ecstasy_of_Saint_Teresa.jpg" alt="Ecstasy of Saint Teresa">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Ecstasy of Saint Teresa</div>
        </div>
      </a>
      </div>

      <!-- 18 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/18">
        <img class="card-img-top" src="https://images.metmuseum.org/CRDImages/es/original/DP-14939-001.jpg" alt="Little Dancer of Fourteen Years">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Little Dancer of Fourteen Years</div>
        </div>
      </a>
      </div>

      <!-- 19 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/19">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Statue_bourgeois_calais_rodin.jpg" alt="The Burghers of Calais">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">The Burghers of Calais</div>
        </div>
      </a>
      </div>

      <!-- 20 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/20">
        <img class="card-img-top" src="https://www.moma.org/media/W1siZiIsIjE5NDkxNyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MTQ0MFx1MDAzZSJdXQ.jpg?sha=c401a6d6e751da96" alt="Pablo Picasso, Guitar">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Pablo Picasso, Guitar</div>
        </div>
      </a>
      </div>

      <!-- 21 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/21">
        <img class="card-img-top" src="https://cdn.britannica.com/38/142538-050-8A35A6AF/Angel-of-the-North-sculpture-Antony-Gormley-1998.jpg" alt="Angel of the North">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Angel of the North</div>
        </div>
      </a>
      </div>

      <!-- 22 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/22">
        <img class="card-img-top" src="https://greekreporter.com/wp-content/uploads/2021/10/Athena-Parthenos-recreation-LeQuire-credit-Dean-Dixon-FAL-e1635528682117.jpeg" alt="Athena Promachos">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Athena Promachos</div>
        </div>
      </a>
      </div>

      <!-- 23 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/23">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Front_views_of_the_Venus_de_Milo.jpg/800px-Front_views_of_the_Venus_de_Milo.jpg" alt="Venus de Milo">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Venus de Milo</div>
        </div>
      </a>
      </div>

      <!-- 24 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/24">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/6/65/Pieta_de_Michelangelo_-_Vaticano.jpg" alt="La Pietà">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">La Pietà</div>
        </div>
      </a>
      </div>

      <!-- 25 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/25">
        <img class="card-img-top" src="https://api-www.louvre.fr/sites/default/files/2020-12/victoire-de-samothrace.jpg" alt="Winged Victory Of Samothrace">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Winged Victory Of Samothrace</div>
        </div>
      </a>
      </div>

      <!-- 26 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/26">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Augustus_of_Prima_Porta_%28inv._2290%29.jpg" alt="Augustus Of Prima Porta">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Augustus Of Prima Porta</div>
        </div>  
      </a>
      </div>

      <!-- 27 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/27">
        <img class="card-img-top" src="https://www.nps.gov/nama/blogs/images/Lincoln2.jpg?maxwidth=650&autorotate=false" alt="Lincoln Memorial Statue">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Lincoln Memorial Statue</div>
        </div>
      </a>
      </div>

      <!-- 28 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/28">
        <img class="card-img-top" src="https://www.wantedinrome.com/i/preview/storage/uploads/2018/09/moses-michelangelo-st-peter-in-chains-rome.jpg" alt="Moses">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Moses</div>
        </div>
      </a>
      </div>

      <!-- 29 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/29">
        <img class="card-img-top" src="https://www.pixelle.co/wp-content/uploads/2018/01/Benvenuto-Cellinis-statue-Perseus-With-the-Head-of-Medusa--900x660.jpg" alt="Perseus with the Head of Medusa">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Perseus with the Head of Medusa</div>
        </div>
      </a>
      </div>

      <!-- 30 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/30">
        <img class="card-img-top" src="https://sjcnygreece2018elisa.files.wordpress.com/2018/05/discobolus.jpg" alt="Discobolus">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Discobolus</div>
        </div>
      </a>
      </div>

      <!-- 31 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/31">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apollo_and_Daphne_%28Bernini%29_%28cropped%29.jpg/1200px-Apollo_and_Daphne_%28Bernini%29_%28cropped%29.jpg" alt="Apollo And Daphne">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Apollo And Daphne</div>
        </div>
      </a>
      </div>

      <!-- 32 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/32">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Horses_of_Basilica_San_Marco_bright.jpg" alt="Horses Of Saint Mark">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Horses Of Saint Mark</div>
        </div>
      </a>
      </div>

      <!-- 33 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/33">
        <img class="card-img-top" src="https://i2-prod.mirror.co.uk/incoming/article9765773.ece/ALTERNATES/s1200/0_Mount-Rushmore.jpg" alt="Mount Rushmore Statues">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Mount Rushmore Statues</div>
        </div>
      </a>
      </div>

      <!-- 34 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/34">
        <img class="card-img-top" src="https://render.fineartamerica.com/images/rendered/default/print/4.5/8/break/images-medium-5/phidias-490-431-bc-varvakeion-athena-everett.jpg" alt="Varvakeion Athena">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">Varvakeion Athena</div>
        </div>
      </a>
      </div>

      <!-- 35 -->
      <div class="card" style=" border-color: black; margin-bottom: 10px; margin-top: 10px;">
        <a href="statues/35">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2022/04/08/07/21/angel-of-independence-7118907_640.jpg" alt="The Angel of Independence">
        <div class="overlay card-img-overlay text-white d-flex flex-column justify-content-center">
          <div class="text" style="text-decoration: none; color: transparent;">The Angel of Independence</div>
        </div>
      </a>
      </div>
