<% layout('layouts/boilerplate') %>

<h1>Register</h1>
<form action="/register" method="POST" class="needs-validation" novalidate>
    <div>
        <label class="requiredField" for="email">Email ID</label><br>
        <input class="inputClass form-control" type="email" id="email" name="email" placeholder="Please enter your e-mail ID" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div>
        <label class="requiredField" for="username">Username</label><br>
        <input class="inputClass form-control" type="text" id="username" name="username" placeholder="Please enter a username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div>
        <label class="requiredField" for="password">Password</label><br>
        <input class="inputClass form-control" type="password" id="password" name="password" placeholder="Please enter a password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Sign Up</button>
</form>

<script>
(function () {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation') 
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>