<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/11/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Night Watch
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 620px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://i.guim.co.uk/img/media/89f192d86a4a05a6084fa500f4bfb3963b10d2ec/0_1066_4547_2728/master/4547.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=57c3304ce43668612ccbf0459a32b293" alt="The Night Watch">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">M</span>ilitia Company of District II under the Command of Captain Frans Banninck Cocq, also known as The Shooting Company of Frans Banning Cocq and Willem van Ruytenburch, but commonly referred to as The Night Watch (Dutch: De Nachtwacht), is a 1642 painting by Rembrandt van Rijn. It is in the collection of the Amsterdam Museum but is prominently displayed in the Rijksmuseum as the best-known painting in its collection. The Night Watch is one of the most famous Dutch Golden Age paintings.
        <br><br>
        The painting is famous for three things: its colossal size (363 by 437 centimetres (12 by 14+1⁄2 feet)), the dramatic use of light and shadow (tenebrism) and the perception of motion in what would have traditionally been a static military group portrait. The painting was completed in 1642, at the peak of the Dutch Golden Age. It depicts the eponymous company moving out, led by Captain Frans Banninck Cocq (dressed in black, with a red sash) and his lieutenant, Willem van Ruytenburch (dressed in yellow, with a white sash). 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        With effective use of sunlight and shade, Rembrandt leads the eye to the three most important characters among the crowd: the two men in the centre (from whom the painting gets its original title), and the woman in the centre-left background carrying a chicken. Behind them, the company's colours are carried by the ensign, Jan Visscher Cornelissen. The figures are almost life-size.
        Rembrandt has displayed the traditional emblem of the arquebusiers in a natural way, with the woman in the background carrying the main symbols. She is a kind of mascot herself; the claws of a dead chicken on her belt represent the clauweniers (arquebusiers), the pistol behind the chicken represents clover and she is holding the militia's goblet. The man in front of her is wearing a helmet with an oak leaf, a traditional motif of the arquebusiers. The dead chicken is also meant to represent a defeated adversary. The colour yellow is often associated with victory.
      <br><br>
      The painting was commissioned around 1639 by Captain Banninck Cocq and seventeen members of his Kloveniers (civic militia guards). Eighteen names appear on a shield, painted circa 1715, in the centre-right background, as the hired drummer was added to the painting for free. A total of 34 characters appear in the painting. Rembrandt was paid 1,600 guilders for the painting (each person paid one hundred), a large sum at the time. This was one of a series of seven similar paintings of the militiamen (Dutch: Schuttersstuk) commissioned during that time from various artists.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The painting was commissioned to hang in the banquet hall of the newly built Kloveniersdoelen (Musketeers' Meeting Hall) in Amsterdam. Some have suggested that the occasion for Rembrandt's commission and the series of other commissions given to other artists was the visit of the French queen, Marie de Medici, in 1638. Even though she was escaping from her exile from France ordered by her son Louis XIII, the queen's arrival was met with great pageantry.
      <br><br>
      There is some academic discussion as to where Rembrandt actually executed the painting. It is too large to have been completed in his studio in his house (modern address Jodenbreestraat 4, 1011 NK Amsterdam). Scholars are divided. In city records of the period, he applied to build a "summer kitchen" on the back of his house. The dimensions of this structure would have accommodated the painting over the three years it took him to paint it. Another candidate is in an adjacent church and a third possibility is actually on site.
<br><br>
The Night Watch first hung in the Groote Zaal (Great Hall) or Amsterdam's Kloveniersdoelen. This structure currently houses the Doelen Hotel. In 1715, the painting was moved to the Amsterdam Town Hall, for which it was trimmed on all four sides. This was done, presumably, to fit the painting between two columns and was a common practice before the 19th century. This alteration resulted in the loss of two characters on the left side of the painting, the top of the arch, the balustrade, and the edge of the step. The missing portions have not been found; Taco Dibbits, director of the Rijksmuseum has some hope that possibly at least the left-hand side might not have been destroyed as it contained three figures, and at the time the painting was trimmed Rembrandt paintings were already expensive.
<br><br>
A 17th-century copy of the painting by Gerrit Lundens (1622–1683) at the National Gallery, London, shows the original composition.
<br><br>
    </div>
