<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/12/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Cafe Terrace at Night
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Vincent_van_Gogh_%281853-1890%29_Caf%C3%A9terras_bij_nacht_%28place_du_Forum%29_Kr%C3%B6ller-M%C3%BCller_Museum_Otterlo_23-8-2016_13-35-40.JPG" alt="Cafe Terrace at Night">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">C</span>afé Terrace at Night is an 1888 oil painting by the Dutch artist Vincent van Gogh. It is also known as The Cafe Terrace on the Place du Forum, and, when first exhibited in 1891, was entitled Coffeehouse, in the evening (Café, le soir).
        <br><br>
        Van Gogh painted Café Terrace at Night in Arles, France, in mid-September 1888. The painting is not signed, but described and mentioned by the artist in three letters.
        <br><br>
        Visitors to the site can stand at the north eastern corner of the Place du Forum, where the artist set up his easel. The site was refurbished in 1990 and 1991 to replicate van Gogh's painting. He looked south towards the artificially lit terrace of the popular coffee house, as well as into the enforced darkness of the rue du Palais which led up to a building structure (to the left, not pictured) and, beyond this structure, the tower of a former church which is now Musée Lapidaire.
        <br><br>
        Towards the right, Van Gogh indicated a lighted shop and some branches of the trees surrounding the place, but he omitted the remainders of the Roman monuments just beside this little shop.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">

      The painting is currently at the Kröller-Müller Museum in Otterlo, Netherlands.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        This is the first painting in which he used starry backgrounds; he went on to paint star-filled skies in Starry Night Over the Rhône (painted the same month), and the better known The Starry Night a year later. Van Gogh also painted a starlight background in Portrait of Eugène Boch. Van Gogh mentioned the Cafe Terrace painting in a letter written to Eugène Boch on 2 October 1888, writing he had painted "a view of the café on place du Forum, where we used to go, painted at night" (emphasis van Gogh's).
      <br><br>
      Van Gogh was careful to reflect the actual appearance of his skies and the position of the constellation Aquarius allowed Albert Boime to date the painting to early September 1888, at about 11:00 PM.
      <br><br>
      The painting and the café were both featured in the 1956 film Lust for Life starring Kirk Douglas and later in "Vincent and the Doctor" (2010), the tenth episode in the fifth series of British science fiction television series Doctor Who,[9] and in the fully painted film Loving Vincent (2017). The café was also featured in the film Ronin (1998).
      <br><br>
      The 1980 BBC series 100 Great Paintings featured the painting.
    </div>
