<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Whistler's Mother
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 620px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Whistlers_Mother_high_res.jpg" alt="Whistler's Mother">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>rrangement in Grey and Black No. 1, best known under its colloquial name Whistler's Mother or Portrait of Artist's Mother, is a painting in oils on canvas created by the American-born painter James Abbott McNeill Whistler in 1871. The subject of the painting is Whistler's mother, Anna McNeill Whistler. The painting is 56.81 by 63.94 inches (1,443 mm × 1,624 mm), displayed in a frame of Whistler's own design. It is held by the Musée d'Orsay in Paris, having been bought by the French state in 1891. It is one of the most famous works by an American artist outside the United States. It has been variously described as an American icon and a Victorian Mona Lisa.
        <br><br>
        Anna McNeill Whistler posed for the painting while living in London with her son at Cheyne Walk, Chelsea.
        <br><br>
        Several unverifiable stories relate to the painting of the work; one is that Anna Whistler acted as a replacement for another model who could not make the appointment. 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Allegedly, Whistler originally envisioned painting the model standing up. However, his mother was too uncomfortable to pose standing for an extended period. The work was shown at the 104th Exhibition of the Royal Academy of Art in London (1872), after coming within a hair's breadth of rejection by the Academy. This episode worsened the rift between Whistler and the British art world; Arrangement was the last painting he submitted for the Academy's approval (although his etching of Old Putney Bridge was exhibited there in 1879). Vol. VIII of The Royal Academy of Arts: A Complete Dictionary of Contributors and their work from its foundation in 1769 to 1904 (by Algernon Graves, F.S.A., London 1906) lists the 1872 exhibit as no. 941, "Arrangement in Grey and Black: Portrait of the Painter's mother", and gives Whistler's address as The White House, Chelsea Embankment.
      <br><br>
      The sensibilities of a Victorian era viewing audience would not accept what was a portrait exhibited as an "arrangement", hence the addition of the explanatory title Portrait of the Painter's mother. From this, the work acquired its enduring nickname of simply Whistler's Mother. After Thomas Carlyle viewed the painting, he agreed to sit for a similar composition, this one titled Arrangement in Grey and Black, No. 2. Thus the previous painting became, by default, Arrangement in Grey and Black, No. 1.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Whistler eventually pawned the painting, acquired in 1891 by Paris's Musée du Luxembourg. Whistler's works, including this one, had attracted several imitators. Numerous similarly posed and restricted-colour palette paintings soon appeared, particularly by American expatriate painters. For Whistler, having one of his paintings displayed in a major museum helped attract wealthy patrons.
      <br><br>
      Both Whistler's Mother and Thomas Carlyle were engraved by the English engraver Richard Josey. The image has been used since the Victorian era as an icon for motherhood, affection for parents, and "family values" in general, especially in the United States. For example, in 1934, the U.S. Post Office Department issued a stamp engraved with the portrait detail from Whistler's Mother, bearing the slogan "In memory and in honor of the mothers of America." In the Borough of Ashland, Pennsylvania, an eight-foot-high statue based on the painting was erected as a tribute to mothers by the Ashland Boys' Association in 1938, during the Great Depression.
<br><br>
Whistler's Mother has been exhibited several times in the United States, notably at the Century of Progress world's fair in Chicago in 1933–34. It was shown at the Atlanta Art Association in the fall of 1962, the National Gallery of Art in 1994, and the Detroit Institute of Arts in 2004. It was exhibited at the Boston Museum of Fine Arts in 1983 in an exhibition called: A New World: Masterpieces of American Painting 1760- 1910.
<br><br>
And from June to September 2006. From May 22 to September 6, 2010, it was shown at the M. H. de Young Memorial Museum in San Francisco. The painting was exhibited at the Norton Simon Museum in Pasadena, California, from March 27 to June 22, 2015, and then at the Clark Art Institute in Williamstown, Massachusetts. It was shown at the Art Institute of Chicago from March 4 to May 21, 2017. It had returned to the Musee d'Orsay as of early August 2019.
<br><br>
    </div>
