<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Glow of Hope
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cdn.shopify.com/s/files/1/0969/9128/products/Glow_of_Hope-_Woman_With_the_Lamp_-_by_S_L_Haldankar_copy.jpg?v=1569011844" alt="Glow of Hope">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">G</span>low of Hope, alternately titled "Woman With the Lamp", is a painting by S.L. Haldankar. The work was painted 1945–46 and is currently stored in the Sri Jayachamarajendra Art Gallery at the Jaganmohan Palace in Mysore, India.[1] The painting is currently on display on the second floor of the museum, in an enclave with a curtained window. The enclave is normally darkened, which highlights the subtlety of the glowing brass lamp in the piece. When the light is turned on, the painting reveals remarkably subtle shades of pink and lavender in the woman's sari. Opening the enclave's curtain leads to yet another distinct view of the painting, the natural light exposing even more subtle gradations and details.
        <br><br>
        The painting shows an Indian woman holding a lighted lamp in one hand, the other hand covering the light of the lamp from the front. The woman is in a simple and traditional Indian saree. The effect of the painting is heightened by the shadow of the woman in the back.
        <br><br>
        The painting is housed in a special room at the Sri Jayachamarajendra Art Gallery. It is displayed in an enclave with a curtained window. The enclave is normally darkened, which highlights the subtlety of the glowing lamp in the painting. 
        </text></span>      
    </content>

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        One can see in the dark the hand which is covering the candle — which is the only thing that is giving out light — is glowing very bright red, seems that it is authentic; her hand really seems to be glowing due to the lamp's light.
      <br><br>
      The woman who is holding the covered lamp is Gita Haldankar (later Smt. Gita Krishnakant Uplekar), the third daughter of the artist.[2] At her death on October 2, 2018, she lived in Kolhapur City of Maharashtra State. On 2 February 2017 she turned 100.[3] She had four daughters and one son (Meena Shertukade, Lali Akojwar, Jyoti Shah, (Sandhya) Sonali Punatar, and Rajprakash Uplekar). The young woman had to stay in the perpetual position for three hours continuously. Furthermore, he made this portrait with watercolours. He used this as his medium because he wanted to show the world that he could make a painting without a single mistake, unlike the oil paint which can be corrected using white paint. The painting is mimetic in approach, with no deliberate distortions.
<br><br>
    </div>
