<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Salvator Mundi
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Leonardo_da_Vinci%2C_Salvator_Mundi%2C_c.1500%2C_oil_on_walnut%2C_45.4_%C3%97_65.6_cm.jpg" alt="Salvator Mundi">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">S</span>alvator Mundi (Latin for 'Savior of the World') is a painting attributed in whole or in part to the Italian High Renaissance artist Leonardo da Vinci, dated to c. 1499–1510. Long thought to be a copy of a lost original veiled with overpainting, it was rediscovered, restored, and included in a major exhibition of Leonardo's work at the National Gallery, London, in 2011–2012. Christie's stated just after selling the work in 2017 that most leading scholars consider it to be an original work by Leonardo, but this attribution has been disputed by other leading specialists, some of whom propose that he only contributed certain elements; and others who believe that the extensive damage prevents a definitive attribution.
        <br><br>
        The painting depicts Jesus Christ in an anachronistic blue Renaissance dress, making the sign of the cross with his right hand, while holding a transparent, non-refracting crystal orb in his left, signaling his role as Salvator Mundi and representing the 'celestial sphere' of the heavens. Approximately thirty copies and variations of the work by pupils and followers of Leonardo have been identified. Two preparatory chalk and ink drawings of the drapery by Leonardo are held in the British Royal Collection.
        <br><br>
        The painting was sold at auction for US$450.3 million on 15 November 2017 by Christie's in New York to Prince Badr bin Abdullah Al Saud, setting a new record for the most expensive painting ever sold at public auction.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Prince Badr allegedly made the purchase on behalf of Abu Dhabi's Department of Culture and Tourism, but shortly thereafter it was reported that he was a stand-in bidder for his close ally, the Saudi Arabian crown prince Mohammed bin Salman. The painting has not been publicly exhibited since the 2017 Christie's auction, and since late 2020 has been in storage in Saudi Arabia reportedly awaiting a museum and cultural center to be completed in Al-'Ula.
      <br><br>
      Art historians have suggested several possibilities for when the work was executed and who the patron may have been. Christie's stated that it was probably commissioned around 1500, shortly after King Louis XII of France conquered the Duchy of Milan and took control of Genoa in the Second Italian War; Leonardo himself moved from Milan to Florence in 1500. The art historian Luke Syson agrees, dating the painting to c. 1499, though Martin Kemp and Frank Zöllner date the work to c. 1504–1510 and c. 1507 or later respectively. Based on their similarity in style and materials to the studies for The Virgin and Child with Saint Anne, Carlo Pedretti dates the drapery studies in the Royal Collection, and thus the painting, to 1510–1515.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Because of the specificity of the subject, Leonardo's Salvator Mundi was probably commissioned by a specific patron rather than produced on speculation. Isabella d'Este, Duchess of Milan, is cited as a possible patron as in 1504 she had wished to commission from Leonardo a "youthful Christ of around twelve years, of that age that he had when he disputed in the Temple", though Salvator Mundi shows a more mature Christ. Carlo Pedretti notes that Isabella d'Este was a guest of Leonardo's patron Giulianio de'Medici in 1514 and so may have convinced the artist to complete the commission at that time. Martin Kemp does not draw conclusions, but likewise discusses the possibility of Isabella d'Este as patron – though he also considers the Hungarian king Matthias Corvinus, Charles VIII of France and others. Joanne Snow-Smith argued that Leonardo painted the Salvator Mundi for Louis XII of France and his consort, Anne of Brittany. This view was echoed by the Royal Collection in their 2018 exhibition Leonardo da Vinci: A Life in Drawing and is supported by the early French provenance of many of the copies of the Salvator Mundi.
      <br><br>
      The painting would have been used in the context of personal devotion, as were other panels of this size and subject in the sixteenth century. Indeed, Snow-Smith emphasizes in her writings the devotional relationship that Louis XII and Anne of Brittany had with the Salvator Mundi as a subject and Frank Zöllner discussed the painting's relationship to French illuminated manuscripts in the practice of early sixteenth-century personal devotion and prayer.
<br><br>
It is possible that the painting was recorded in a 1525 inventory of Salaì's estate as "Christo in mondo de uno Dio padre", though it is unclear to which Salvator Mundi this might refer. The provenance of the painting breaks after 1530.
<br><br>
    </div>

