<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Bal du moulin de la Galette
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/4/40/Auguste_Renoir_-_Dance_at_Le_Moulin_de_la_Galette_-_Mus%C3%A9e_d%27Orsay_RF_2739_%28derivative_work_-_AutoContrast_edit_in_LCH_space%29.jpg" alt="Bal du moulin de la Galette">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">B</span>al du moulin de la Galette (commonly known as Dance at Le moulin de la Galette) is an 1876 painting by French artist Pierre-Auguste Renoir.
        <br><br>
        It is housed at the Musée d'Orsay in Paris and is one of Impressionism's most celebrated masterpieces.[1] The painting depicts a typical Sunday afternoon at the original Moulin de la Galette in the district of Montmartre in Paris. In the late 19th century, working-class Parisians would dress up and spend time there dancing, drinking, and eating galettes into the evening.[2]: 121–3  Like other works of Renoir's early maturity, Bal du moulin de la Galette is a typically Impressionist snapshot of real life. It shows a richness of form, a fluidity of brush stroke, and a flickering, sun-dappled light.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        From 1879-94 the painting was in the collection of the French painter Gustave Caillebotte; when he died it became the property of the French Republic as payment for death duties. From 1896-1929 the painting hung in the Musée du Luxembourg in Paris. From 1929 it hung in the Louvre until it was transferred to the Musée d'Orsay in 1986.
      <br><br>
      Renoir painted a smaller version of the picture (78 × 114 cm) with the same title. The painting is now believed to be in a private collection in Switzerland. Apart from their size, the two paintings are virtually identical, although the smaller is painted in a more fluid manner than the d'Orsay version. One is presumably a copy of the original, but it is not known which is the original. It is not even known which was the one first exhibited at the Salon of 1877, because though it was catalogued and given favourable attention by critics, its entry did not indicate the size of the painting.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        For many years it was owned by John Hay Whitney. On May 17, 1990, his widow sold the painting for US$78 million at Sotheby's in New York City to Ryoei Saito (Saitō Ryōei), the honorary chairman of Daishowa Paper Manufacturing Company, Japan.
      <br><br>
      At the time of sale, it was one of the top two most expensive artworks ever sold, together with van Gogh's Portrait of Dr. Gachet, which was also purchased by Saito. Saito caused international outrage when he suggested in 1991 that he intended to cremate both paintings with him when he died. However, when Saito and his companies ran into severe financial difficulties, bankers who held the painting as collateral for loans arranged a confidential sale through Sotheby's to an undisclosed buyer.[4] Although not known for certain, the painting is believed to be in the hands of a Swiss collector.[citation needed]
      <br><br>
    </div>
