<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Impression, Sunrise
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Monet_-_Impression%2C_Sunrise.jpg/1200px-Monet_-_Impression%2C_Sunrise.jpg" alt="Impression, Sunrise">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">I</span>mpression, Sunrise (French: Impression, soleil levant) is an 1872 painting by Claude Monet first shown at what would become known as the "Exhibition of the Impressionists" in Paris in April, 1874. The painting is credited with inspiring the name of the Impressionist movement.
        <br><br>
        Impression, Sunrise depicts the port of Le Havre, Monet's hometown. It is now displayed at the Musée Marmottan Monet in Paris.
        <br><br>
        Monet visited his hometown of Le Havre in the Northwest of France in 1872 and proceeded to create a series of works depicting the port. The six painted canvases depict the port "during dawn, day, dusk, and dark and from varying viewpoints,
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        some from the water itself and others from a hotel room looking down over the port".
      <br><br>
      Impression, Sunrise became the most famous in the series after being debuted in April 1874 in Paris at an exhibition by the group "Painters, Sculptors, Engravers etc. Inc." Among thirty participants, the exhibition was led by Monet, Edgar Degas, Camille Pissarro, Pierre-Auguste Renoir, and Alfred Sisley, and showed over two hundred works that were seen by about 4,000 people, including some rather unsympathetic critics.
      <br><Br>
        In 1985 the painting was stolen from the Musée Marmottan Monet by Philippe Jamin and Youssef Khimoun. It was recovered and returned to the museum in 1990, and put back on display in 1991.
        <br><br>
        Monet claimed that he titled the painting Impression, Sunrise due to his hazy painting style in his depiction of the subject: "They asked me for a title for the catalogue, it couldn't really be taken for a view of Le Havre, and I said: 'Put Impression.'" In addition to this explanation for the title of the work, art historian Paul Smith claims that Monet might have named the painting Impression to excuse his painting from accusations of being unfinished or lacking descriptive detail, but Monet received these criticisms regardless of the title.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        While the title of the painting seemed to be chosen in haste for the catalogue, the term "Impressionism" was not new. It had been used for some time to describe the effect of paintings from the Barbizon School. Both associated with the school, Daubigny and Manet had been known to use the term to describe their own works.
      <br><br>
      In critic Louis Leroy's review of the 1874 exhibition, "The Exhibition of the Impressionists" for the newspaper Le Charivari, he used "Impressionism" to describe the new style of work displayed, which he said was typified by Monet’s painting of the same name.
      <br><br>
      Before the 1860s and the debut of Impression, Sunrise, the term "impressionism" was originally used to describe the effect of a natural scene on a painter, and the effect of a painting on the viewer. By the 1860s, "impression" was used by transference to describe a painting which relayed such an effect. In turn, impression came to describe the movement as a whole.
      <br><br>
      Initially used to describe and deprecate a movement, the term Impressionism "was immediately taken up by all parties" to describe the style, and Monet’s Impression, Sunrise is considered to encapsulate the start of the movement and its name.
      <br><br>
    </div>
