<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/2/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
      Peach Festival of the Queen Mother of the West
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://ids.si.edu/ids/iiif/FS-6053_02/full/500,/0/default.jpg" alt="Peach Festival of the Queen Mother of the West">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>ccording to Chinese legend, the Peach Festival is held only once every 3000 years at the celestial Jade Palace in Paradise but it’s worth waiting for. This magnificent Qing dynasty (1644-1911) embroidered silk kesi hanging scroll comes for sale in our forthcoming Asian Art Auction.
        <br><br>
        According to Chinese legend, the Peach Festival is held only once every 3000 years at the celestial Jade Palace in Paradise but it’s worth waiting for. At the festival the ancient goddess Xiwangmu, Queen Mother of the West and the guardian to Taoist women, bestows upon her followers great fortune and perhaps one of the peaches of immortality.  
        <br><br>
        
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
      The auspicious festival is a long-standing subject in Chinese art. Panels and scrolls on the theme are favourite birthday gifts. This magnificent Qing dynasty (1644-1911) embroidered silk kesi hanging scroll comes for sale in our forthcoming Asian Art Auction. Measuring 175 x 89cm it shows a pantheon of Daoist immortals and deities celebrating as they await the arrival of Xiwangmu who descends gracefully from the sky seated astride her phoenix. 
      <br><br>
      The painting depicts a multitude of Daoist immortals, accompanied by animals and attendants, journeying by various means across a "blue and green style" landscape and an ocean, to visit the Queen Mother of the West on the occasion of her birthday. It also depicts the palace in the clouds, the gardens containing the peaches of immortality, musicians, the cranes of immortality dancing, and a field of the fungi of immortality. At the end of the scroll, a group gathers on a terrace to welcome the Queen Mother.
    
      <br><br>
      A Chinese Ming or Qing dynasty handscroll painting from the 17th-18th century, by an anonymous artist (formerly attributed to Fang Chunnian (ca. 1225-1264)). Ink and color on silk, blue-and-green style.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
      The Queen Mother of the West was one of the most important goddesses of the traditional Chinese pantheon. She dwelt in the Kunlun Mountains, located south of the Takla Makan desert in western China, where according to legend she was visited over the centuries by a number of emperors and Daoist masters seeking the esoteric doctrines that confer immortality. Her most famous encounter reportedly occurred in 110 B.C.E., when she journeyed to the court of Emperor Wu of the Han dynasty (reigned 141-87 B.C.E.) and presented him with several magical peaches, which ripen only once every three thousand years. Said to confer immortality when eaten, these special peaches became the most common attribute of the Queen Mother. According to early sources, the peaches of immortality grow not only in the mountain home of the goddess, but also on certain mythological islands in the ocean east of China, where other gods and immortals reside. It is unclear which of these locations is depicted in the current scroll.
      <br><br>

    </div>

