<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Storm on the Sea of Galilee
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Rembrandt_Christ_in_the_Storm_on_the_Lake_of_Galilee.jpg" alt="The Storm on the Sea of Galilee">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">C</span>hrist in the Storm on the Sea of Galilee is a 1633 oil-on-canvas painting by the Dutch Golden Age painter Rembrandt van Rijn. It is classified as a historical painting and is among the largest and earliest of Rembrandt's works. It was purchased by Bernard Berenson for Isabella Stewart Gardner in 1869 and was displayed at the Isabella Stewart Gardner Museum in Boston before its theft in 1990; it remains missing. The painting depicts the biblical event in which Jesus calmed the storm on the Sea of Galilee, as is described in the fourth chapter of the Gospel of Mark. It is Rembrandt's only seascape.
        <br><br>
        The painting, in vertical format, shows a close-up view of Christ's disciples struggling frantically against the heavy storm to regain control of their fishing boat. A huge wave beats the bow and rips the sail. One of the disciples is seen vomiting over the side. Another one, looking directly at the viewer, is a self-portrait of the artist. Only Christ, depicted on the right, remains calm.
        <br><br>
        The painting depicts the event described in Luke 8:22-25 in which the disciples in charge of the vessel were scared by the sudden storm and awoke a sleeping Jesus in their panic. Rembrandt's version is among the more accurate depictions of the event. 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The perspective is lowered so that the sky occupies more space than does the sea, but the boat, its crew and Christ remain the main focal point of the painting. The ship is similar to a hoeker, which is a North Sea fishing vessel. Rembrandt changed the hull to make it appear more asymmetrical while the mast appears heavier than the classical square or triangular sail.[4] Dutch artists often strived for accuracy in their portrayal of ships in seascapes, but art historian Christian Tümpel noted Rembrandt's tendency to use earlier Bible illustrations as a means of adapting props, such as the disciples' ship, to fit his own imagination.
      <br><br>
      Rembrandt employed tenebrism in the painting as a visual depiction of Christ’s miracle in calming the sea. Light emanates from the upper left of the painting and a glimpse of the clear blue sky may be seen through the storm. As the scene moves toward the right, the boat and the crew are thrown back into shadow.
      <br><br>
      The close-up treatment of the subject and the painting's overall composition are evocative of a Adriaen Collaert print after a design by the Flemish artist Maerten de Vos. The print was included in the 12-part Vita, passio et Resvrrectio Iesv Christ work published by Jan and Raphael Sadeler in Antwerp in 1583. Rembrandt's painting follows the portrait format of Collaert's print and also depicts the boat in a forward tilting position. As with the print, most of the space is consumed by the main motif of the disciples on the boat struggling against the elements.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Classified as a historical painting, The Storm on the Sea of Galilee is an oil-on-canvas painting and is about 160 x 128 cm in size. It was Rembrandt's earliest painting, completed when he was 29 years old, and it is the largest known historical work that he completed. The creation of The Storm on the Sea of Galilee occurred during the time that he had relocated from Amsterdam to Leidan. It is unknown if it was painted for a commission, as no such record has survived. Rembrandt had drawn a sketch in the same year titled Christ Walking on the Wave that depicts the event when Christ walked on the Sea of Galilee to assist a drowning sailor. This sketch was based on a passage in Matthew 14:22-33 in which Christ walks on water toward his disciples in a fishing boat and Peter attempts to walk toward Jesus but instead sinks and must be rescued.
      <br><br>
    </div>
