<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Swing
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/4/43/Joean_Honor%C3%A9_Fragonard_-_The_Swing.jpg" alt="The Swing">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Swing (French: L'Escarpolette), also known as The Happy Accidents of the Swing (French: Les Hasards heureux de l'escarpolette, the original title), is an 18th-century oil painting by Jean-Honoré Fragonard in the Wallace Collection in London. It is considered to be one of the masterpieces of the Rococo era, and is Fragonard's best-known work.
        <br><br>
        The painting depicts an elegantly dressed young woman on a swing. A smiling young man, hiding in the bushes below and to the left, points towards her billowing dress with hat in hand. A smiling older man, who is nearly hidden in the shadows on the right, propels the swing with a pair of ropes, as a small white dog barks nearby. The lady is wearing a bergère hat (shepherdess hat), as she flings her shoe with an outstretched left foot. Two statues are present, one of a putto, who watches from above the young man on the left with its finger in front of its lips, the other of two putti is on the right beside the older man.
        <br><br>
        According to the memoirs of the dramatist Charles Collé, a courtier (homme de la cour) first asked Gabriel François Doyen to make this painting of him and his mistress. Not comfortable with this frivolous work, Doyen refused and passed on the commission to Fragonard.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The man had requested a portrait of his mistress seated on a swing being pushed by a bishop, but Fragonard painted a layman.
        <br><br>
        This style of "frivolous" painting soon became the target of the philosophers of the Enlightenment, who demanded a more serious art which would show the nobility of man.
      <br><br>
      The original ownership is uncertain. A firm provenance begins only with the tax farmer Marie-François Ménage de Pressigny, who was guillotined in 1794, after which it was seized by the revolutionary government. It was possibly later owned by the marquis des Razins de Saint-Marc, and certainly by the duc de Morny. After his death in 1865, it was bought at auction in Paris by Lord Hertford, the main founder of the Wallace Collection.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Between August and November 2021, The Swing underwent sensitive conservation at the Wallace Collection in an effort to reverse the natural aging process, which had diminished the painting’s appearance. Because of its importance, the painting is rarely off public display, and it had not been cleaned for over 100 years. As a result, the paint surface had become obscured by severely yellowed varnish, while old retouching had become visible. A dedicated digital resource reveals more about what the conservation process revealed, the key themes of the painting and its resonance in contemporary culture.
      <br><br>
    </div>
