<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Scream
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg/1200px-Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg" alt="The Scream">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Scream is a composition created by Norwegian artist Edvard Munch in 1893. The Norwegian name of the piece is Skrik (Shriek), and the German title under which it was first exhibited Der Schrei der Natur (The Scream of Nature). The agonized face in the painting has become one of the most iconic images of art, seen as symbolizing the anxiety of the human condition. Munch's work, including The Scream, had a formative influence on the Expressionist movement.
        <br><br>
        Munch recalled that he had been out for a walk at sunset when suddenly the setting sun's light turned the clouds "a blood red". He sensed an "infinite scream passing through nature". Scholars have located the spot to a fjord overlooking Oslo and have suggested other explanations for the unnaturally orange sky, ranging from the effects of a volcanic eruption to a psychological reaction by Munch to his sister's commitment at a nearby lunatic asylum.
        <br><br>
        Munch created two versions in paint and two in pastels, as well as a lithograph stone from which several prints survive. Both painted versions have been stolen, but since recovered. In 2012, one of the pastel versions commanded the at-the-time highest nominal price paid for an artwork at a public auction.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Among theories advanced to account for the reddish sky in the background is the artist's memory of the effects of the powerful volcanic eruption of Krakatoa, which deeply tinted sunset skies red in parts of the Western hemisphere for months during 1883 and 1884, about a decade before Munch painted The Scream. This explanation has been disputed by scholars, who note that Munch was an expressive painter and was not primarily interested in literal renderings of what he had seen. Another explanation for the red skies is that they are due to the appearance of nacreous clouds which occur at the latitude of Norway and which look remarkably similar to the skies depicted in The Scream. Alternatively, it has been suggested that the proximity of both a slaughterhouse and a lunatic asylum to the site depicted in the painting may have offered some inspiration. The scene was identified as being the view from a road overlooking Oslo, by the Oslofjord and Hovedøya, from the hill of Ekeberg. At the time of painting the work, Munch's manic depressive sister Laura Catherine was a patient at the mental asylum at the foot of Ekeberg.
        <br><br>
        In 1978, the Munch scholar Robert Rosenblum suggested that the strange, skeletal creature in the foreground of the painting was inspired by a Peruvian mummy, which Munch could have seen at the 1889 Exposition Universelle in Paris. This mummy, which was buried in a fetal position with its hands alongside its face, also struck the imagination of Paul Gauguin: it stood as a model for figures in more than twenty of Gauguin's paintings, among those the central figure in his painting Human misery (Grape harvest at Arles) and for the old woman at the left in his 1897 painting Where Do We Come From? What Are We? Where Are We Going?. In 2004, Italian anthropologist Piero Mannucci speculated that Munch might have seen a mummy in Florence's Museum of Natural History which bears an even more striking resemblance to the painting.However, later studies have disputed that theory, as Munch did not visit Florence until after painting The Scream.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The imagery of The Scream has been compared to that which an individual suffering from depersonalization disorder experiences, a feeling of distortion of the environment and one's self.
      <br><br>
      Arthur Lubow has described The Scream as "an icon of modern art, a Mona Lisa for our time." It has been widely interpreted as representing the universal anxiety of modern humanity.
      <br><br>
    </div>
