<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Boreas
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Boreas.jpg/250px-Boreas.jpg" alt="Boreas">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">B</span>oreas is an oil painting in the Pre-Raphaelite style created in 1903 by John William Waterhouse.
        <br><br>
        The painting is titled Boreas, after the Greek god of the north wind and it shows a young girl buffeted by the wind. The 1904 Royal Academy notes described the subject of the painting as "In wind-blown draperies of slate-colour and blue, a girl passes through a spring landscape accented by pink blossom and daffodils."
        <br><br>
        Boreas was put up for sale in the mid-1990s after having been lost for 90 years – causing quite a sensation in the art community. The painting achieved a record price for Waterhouse at that time, £848,500 ($1,294,000 USD).
        </text></span>      
    </content>
