<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Yasoda Krishna
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://www.artzolo.com/sites/default/files/styles/product_full/public/uploads/multi/1817/largest/yasoda_krishna.jpg" alt="Yasoda Krishna">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">K</span>rishna is the 9th incarnation of Lord Vishnu who was born in the Yadava Dynasty to Vasudeva nd Devaki. Devki’s brother, Kamsa, who was a charioteer at the wedding of Vasudeva and Devaki, heard a celestial voice saying the eighth son of Vasudeva and Devaki would kill Kamsa. Kamsa therefore was intent upon killed every child born to the couple. The eighth child was Krishna, a manifestation of Lord Vishnu.
        <br><br>
        As soon as the baby was born, he incarnated himself as the Lord and instructed them to exchange him with the child born to Nandagopa and Yashodha born at Gokula. After instructing Vasudeva, Lord Vishnu re-assumed the form of a baby. Later, the help of Mayadevi, in the middle of the night, Krishna was exchanged with Yashodha’s baby. Ever since then, Krishna grew up with his foster mother Yashodha.
        <br><br>
        This print from the Ravi Varma Press derived from a painting by Raja Ravi Varma depicts Krishna on the lap of an adoring Yashodha. A servant maid looks on.
        </text></span>      
    </content>
