<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
      Among the Ruins
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://uploads3.wikiart.org/images/alma-tadema-lawrence/among-the-ruins-1904.jpg!Large.jpg" alt="Among the Ruins">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>mong the Ruins by Lawrence Alma-Tadema shows an elegant blonde maiden, who whilst beach-combing on deserted sands has discovered the overgrown ruins of a forgotten temple. She is surrounded by the fallen columns and broken pediments decorated with battling Amazons, suggestive of a violet past but now, in these more peaceful times the commanders of the battalions of many-oared war-ships have ceased to visit the temple of the sea-god Poseidon. The flowers have pushed their way through its floors and ocean storms and earthquakes have tumbled its walls. It is now the haunt of the sea birds that make their nests among its stones.  The girl stoops amid the irises to draw back their stems, revealing the tranquil face of a bronze votive statue of a male god. Her string of polished amethyst beads and gold and silver         
        </text></span>      
    </content>

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        bracelets suggest that she is no mere flower seller or temple servant and that she is a young member of the patrician classes who built beautiful villas along the coast of the Mediterranean. 
      <br><br>

    </div>
