<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
      The Great Wave off Kanagawa
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Tsunami_by_hokusai_19th_century.jpg" alt="The Great Wave off Kanagawa">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Great Wave off Kanagawa (Japanese: 神奈川沖浪裏, Hepburn: Kanagawa-oki Nami Ura, lit. 'Under the Wave off Kanagawa') is a woodblock print by Japanese ukiyo-e artist Hokusai, created in late 1831 during the Edo period of Japanese history. The print depicts three boats moving through a storm-tossed sea, with a large wave forming a spiral in the centre and Mount Fuji visible in the background.
        <br><br>
        The print is Hokusai's best-known work and the first in his series Thirty-six Views of Mount Fuji, in which the use of Prussian blue revolutionized Japanese prints. The composition of The Great Wave is a synthesis of traditional Japanese prints and use of graphical perspective developed in Europe, and earned him immediate success in Japan and later in Europe, where Hokusai's art inspired works by the Impressionists. 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Several museums throughout the world hold copies of The Great Wave, many of which came from 19th-century private collections of Japanese prints.
        <br><br>
        The Great Wave off Kanagawa has been described as "possibly the most reproduced image in the history of all art", as well as being a contender for the "most famous artwork in Japanese history". It has influenced several notable artists and musicians, including Vincent van Gogh, Claude Debussy, Claude Monet, and Hiroshige.
        <br><br>
        Ukiyo-e is a Japanese printmaking technique which flourished in the 17th through 19th centuries. Its artists produced woodblock prints and paintings of subjects including female beauties; kabuki actors and sumo wrestlers; scenes from history and folk tales; travel scenes and landscapes; Japanese flora and fauna; and erotica. The term ukiyo-e (浮世絵) translates as "picture[s] of the floating world".
      <br><br>
      After Edo (now Tokyo) became the seat of the ruling Tokugawa shogunate in 1603, the chōnin class of merchants, craftsmen, and workers benefited most from the city's rapid economic growth, and began to indulge in and patronise the entertainment of kabuki theatre, geisha, and courtesans of the pleasure districts; the term ukiyo ("floating world") came to describe this hedonistic lifestyle. Printed or painted ukiyo-e works were popular with the chōnin class, who had become wealthy enough to afford to decorate their homes with them.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The earliest ukiyo-e works, Hishikawa Moronobu's paintings and monochromatic prints of women, emerged in the 1670s. Colour prints were introduced gradually, and at first were only used for special commissions. By the 1740s, artists such as Okumura Masanobu used multiple woodblocks to print areas of colour. In the 1760s, the success of Suzuki Harunobu's "brocade prints" led to full-colour production becoming standard, with ten or more blocks used to create each print. Some ukiyo-e artists specialized in creating paintings, but most works were prints. Artists rarely carved their own woodblocks; production was divided between the artist, who designed the prints; the carver, who cut the woodblocks; the printer, who inked and pressed the woodblocks onto hand-made paper; and the publisher who financed, promoted, and distributed the works. As printing was done by hand, printers were able to achieve effects impractical with machines, such as the blending or gradation of colours on the printing block.
      <br><br>
    </div>
