<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Madri
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Madri_-_Raja_Ravi_Varma_Print.jpg" alt="Madri">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>his painting by Raja Ravi Varma of a lady in a red saree carrying a tray of fruit formed the exemplar for printing a chromolithograph titled 'Madri' from the Ravi Varma Press. In Chapter 13 of the Adi-Parva of the Mahabharata, Madri is described as a very beautiful woman of dark form and draped in crimson silk.
        </text></span>      
    </content>
