<% layout('/layouts/showpages') %>
    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Carnation, Lily, Lily, Rose
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 350px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/John_Singer_Sargent_-_Carnation%2C_Lily%2C_Lily%2C_Rose_-_Google_Art_Project.jpg" alt="Carnation, Lily, Lily, Rose">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">C</span>arnation, Lily, Lily, Rose is an oil-on-canvas painting made by the American painter John Singer Sargent in 1885–86.
        <br><br>
        The painting depicts two small children dressed in white who are lighting paper lanterns as day turns to evening; they are in a garden strewn with pink roses, accents of yellow carnations and tall white lilies (possibly the Japanese mountain lily, Lilium auratum) behind them. The painting is dominated by green foliage, with no horizon or other horizontal line to give a sense of depth. The viewer seems to be on a level with the children but also looking down on them. The two subjects of the painting are the daughters of the illustrator Frederick Barnard – a friend of Sargent's. Dolly, left, was 11 years old and Polly, right, seven years old; they were chosen for their blonde hair, replacing Sargent's original model, Francis Davis Millet's five-year-old daughter, dark-haired Katherine. The title comes from the refrain of a popular song "Ye Shepherds Tell Me" by Joseph Mazzinghi, a pastoral glee for a trio of male voices, which mentions Flora wearing "A wreath around her head, around her head she wore, 
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Carnation, lily, lily, rose".
        <br><br>
        The work is set in an English garden at Farnham House in Broadway in the Cotswolds, where Sargent spent the summer of 1885 with Millet shortly after moving to England from Paris to escape the scandal caused by his 1884 painting Portrait of Madame X. The author Robert Louis Stevenson was also staying there while writing A Child's Garden of Verses and his verses inspired Sargent. Sargent also took inspiration from the lanterns that he saw hanging among trees and lilies while boating on the River Thames at Pangbourne with American artist Edwin Austin Abbey in September 1885. Sargent wanted to capture the exact level of light at dusk so he painted the picture en plein air – outdoors and in the Impressionist manner. Every day from September to November 1885, he painted in the few minutes when the light was perfect, giving the picture an overall purple tint of evening. The flowers in the garden died as summer turned to autumn, and they were replaced with artificial flowers. Sargent resumed painting the following summer at Millet's new home nearby in Broadway and finally finished the painting by the end of October 1886. In the course of working, Sargent cut down the rectangular canvas, removing approximately 2 feet (61 cm) from the left side, to leave an approximately square shape.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The work received a mixed reception at the Royal Academy summer exhibition in 1887, with some criticising his "Frenchified" style. However, there was also much praise, and Sir Frederic Leighton, President of the Royal Academy, encouraged the Tate Gallery to buy the painting later that year, using money from the Chantrey Bequest.[4][5] It was the first of Sargent's works to be acquired by a public museum. The painting remains part of the Tate collection and is displayed at Tate Britain.
<br><br>
    </div>
