<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/3/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Dancers Bending Down (The Ballerinas)
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://i.pinimg.com/736x/ee/3e/dc/ee3edca76715f860fcc669d5fecf2ce7--ballet-art-ballet-dancers.jpg" alt="Dancers Bending Down (The Ballerinas)">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">D</span>ancers Bending Down, also known as The Ballerinas is one of the famous paintings created by the French artist Edgar Degas in 1885. This masterpiece is now collected by a private place which offers us less opportunity to view this painting of Edgar Degas in person.  
        <br><br>
        
        </text></span>      
    </content>

