<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Flaming June
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 350px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flaming_June%2C_by_Frederic_Lord_Leighton_%281830-1896%29.jpg" alt="Flaming June">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">F</span>laming June is a painting by Sir Frederic Leighton, produced in 1895. Painted with oil paints on a 47-by-47-inch (1,200 mm × 1,200 mm) square canvas, it is widely considered to be Leighton's best-known work in the 21st century, much reproduced in posters and the like. It shows a sensuous version of his classicist Academic style. It is thought that the woman portrayed alludes to the figures of sleeping nymphs and naiads the Greeks often sculpted.
        <br><br>
        Flaming June disappeared from view in the 1930s and was rediscovered in the 1960s. It was auctioned shortly after, during a period of time known to be difficult for selling Victorian era paintings, where it failed to sell for its low reserve price of US$140 (the equivalent of $1,126 in modern prices). After the auction, it was promptly purchased by the Museo de Arte de Ponce in Ponce, Puerto Rico. It is currently on loan to the Metropolitan Museum of Art in New York City, where it will be on display until February 2024.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Flaming June was first begun as a motif to adorn a marble bath in one of Leighton's other works, Summer Slumber. He became so attached to the design that he decided to create it as a painting in its own right.
        <br><br>
        According to art historian Andrew Graham-Dixon "her pose is loosely modelled on that of Michelangelo's famous statue of Night, in the Medici Tombs in Florence, which Leighton regarded as one of the supreme achievements of Western art." The position of the sleeping woman gave Leighton a great deal of trouble. He made several preliminary sketches to determine the way in which she should lie; in particular he had difficulty making the angle of her right arm look natural. His studies show that the picture went through at least four evolutionary sketches before Leighton came to the end result. Out of these studies, four are nude and one is draped. The draped figure looks the least lifelike, demonstrating Leighton's claimed need to draw from a naked model to achieve a fidelity to nature.
        <br><br>
        The toxic oleander branch in the top right possibly symbolizes the fragile link between sleep and death.
        <br><br>
        Flaming June has become Leighton's most recognisable picture. Samuel Courtauld, founder of the Courtauld Institute, called it "the most wonderful painting in existence". The realism of the transparent material worn by the sleeping woman, the stunningly rich colours and the perfectly recreated marble surround are characteristic of Leighton's work, as is his use of natural light. He allows the sunset in the background to appear as molten gold.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The painting's first owners, The Graphic magazine, bought it to create a high-quality reproduction which was given away as a Christmas gift in 1895. When Leighton died in January 1896 it was put in their office window which was passed by the funeral procession. It was loaned to the Ashmolean Museum in early 1900s; its whereabouts after this are unknown. The painting was rediscovered in a Battersea home in the early 1960s, boxed in over a chimney. Andrew Lloyd Webber saw it soon afterwards in a shop on the Kings Road, but his grandmother refused to lend him the £50 asking price, stating: "I will not have Victorian junk in my flat".
<br><br>
In 1963 Luis A. Ferré – the noted Puerto Rican industrialist and politician, who would be elected governor five years later – was on a trip around Europe, engaged in purchasing paintings and sculptures for the Museo de Arte de Ponce in Puerto Rico, which he had founded. "It’s extremely curious to know that this work of such late Victorian importance was bought in Amsterdam by Luis A. Ferre for less than $1,000 dollars in 1960."
<br><br>
Once it was part of Museo de Arte de Ponce's collection, it became its symbol and most recognized artwork. Since then, the painting has been loaned to important museums around the world including Museo del Prado in Madrid in 2008, the Staatsgalerie Stuttgart in Germany in 2009 and in the Frick Collection in New York City in 2015.
    </div>

