<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
      The Vision to the Youth Bartholomew
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Mikhail_Nesterov_001.jpg/1200px-Mikhail_Nesterov_001.jpg" alt="The Vision to the Youth Bartholomew">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Vision to the Youth Bartholomew (Russian: Видение отроку Варфоломею) is an oil-on-canvas painting created during 1889 and 1890 by the Russian artist Mikhail Nesterov. It is the first and best known work in his series on Sergius of Radonezh, a medieval Russian saint. The painting is considered "the inaugural work of the Russian Symbolist movement" and is in the collection of the Tretyakov Gallery in Moscow.
        <br><br>
        The image of St. Sergius of Radonezh, who had been born Bartholomew, was near and dear to the artist since childhood and was the embodiment of the moral ideal for Nesterov. Nesterov gave St. Sergius a particularly important role in rallying the Russian people. The painting illustrates an episode from "The Life of St. Sergius" by Epiphanius the Wise:
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        'One day his father sent him to look for a lost foal. On his way he met a monk, a venerable elder, a stranger, a priest, with the appearance of an angel. This stranger was standing beneath an oak tree, praying devoutly and with much shedding of tears. The boy, seeing him, humbly made a low obeisance, and awaited the end of his prayers.
        <br><br>
        The venerable monk, when he had ended his prayers, glanced at the boy and, conscious that he beheld the chosen vessel of the Holy Spirit, he called him to his side, blessed him, bestowed on him a kiss in the name of Christ, and asked: "What art thou seeking, or what dost thou want, child?" The boy answered, "My soul desires above all things to understand the Holy Scriptures. I have to study reading and writing, and I am sorely vexed that I cannot learn these things. Will you, holy Father, pray to God for me, that he will give me understanding of book-learning?" The monk raised his hands and his eyes toward heaven, sighed, prayed to God, then said, "Amen."
        <br><br>
        Taking out from his satchel, as if it were some treasure, with three fingers, he handed to the boy what appeared to be a little bit of white wheaten bread prosphora, saying to him: "Take this in thy mouth, child, and eat; this is given thee as a sign of God's grace and for the understanding of Holy Scriptures. Though the gift appears but small, the taste thereof is very sweet."'
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        From that time on Bartholomew could read and write, became a monk, and adopted the name of Sergius.
        <br><br>
        The artist did his sketches of landscapes in 1899 in the vicinity of the Trinity Sergius Lavra, settling in the village of Komyakovo near Abramtsevo and Radonezh. Abramtzevo became one of his favourite places. There he finished the landscape part and then went to Ufa. The artist was in a hurry, because he was preparing for the XVIII Peredvizhniki exhibition and despite having flu, continued to work actively. One day he felt dizzy, he stumbled (he stood on a small stool), fell and injured the canvas. It was impossible to continue the work, he needed a new canvas, which finally was brought.
      <br><br>
    </div>

