<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
      The Lady of Shalott
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/f/fd/John_William_Waterhouse_-_The_Lady_of_Shalott_-_Google_Art_Project_edit.jpg" alt="The Lady of Shalott">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Lady of Shalott is a painting of 1888 by the English painter John William Waterhouse. It is a representation of the ending of Alfred, Lord Tennyson's 1832 poem of the same name. Waterhouse painted three versions of this character, in 1888, 1894 and 1915. It is one of his most famous works, which adopted much of the style of the Pre-Raphaelite Brotherhood, though Waterhouse was painting several decades after the Brotherhood split up during his early childhood.
        <br><br>
        The Lady of Shalott was donated to the public by Sir Henry Tate in 1894 and is usually on display in Tate Britain, London, in room 1840.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Lady of Shalott an 1888 oil-on-canvas painting, is one of John William Waterhouse's most famous works. It depicts a scene from Tennyson's poem in which the poet describes the plight and the predicament of a young woman, loosely based on the figure of Elaine of Astolat from medieval Arthurian legend, who yearned with an unrequited love for the knight Sir Lancelot, isolated under an undisclosed curse in a tower near King Arthur's Camelot. Waterhouse painted three versions of this character, in 1888, 1894 and 1915.
        <br><br>
        The painting has the precisely painted detail and bright colours associated with the Pre-Raphaelites. It pictures the titular character of Tennyson's poem, also titled The Lady of Shalott (1842). In the poem, the Lady had been confined to her quarters, under a curse that forbade her to go outside or even look directly out of a window; her only view of the world was through a mirror. She sat below the mirror and wove a tapestry of scenes she could see by the reflection. After defying the curse by looking out the window at Camelot, the Lady has made her way to a small boat. This is the moment that is pictured in Waterhouse's painting, as the Lady is leaving to face her destiny. She is pictured sitting on the tapestry she has woven.
        <br><br>
        The Lady has a lantern at the front of her boat and a crucifix is positioned near the bow. Next to the crucifix are three candles. Candles were a representation of life – two of the candles are already blown out, signifying that her death is soon to come. Aside from the metaphoric details, this painting is valued for Waterhouse's realistic painting abilities. The Lady's dress is stark white against the much darker hues of the background. Waterhouse's close attention to detail and colour, the accentuation of the beauty of nature, realist quality, and his interpretation of her vulnerable, wistful face are further demonstration of his artistic skill. Naturalistic details include two swallows and the water plants that would be found in a river in England at this time. 
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Lady of Shalott was donated to the public by Sir Henry Tate in 1894.
        <br><br>
        According to Tennyson's version of the legend, the Lady of Shalott was forbidden to look directly at reality or the outside world; instead she was doomed to view the world through a mirror, and weave what she saw into tapestry. Her despair was heightened when she saw loving couples entwined in the far distance and she spent her days and nights aching for a return to normal. One day the Lady's mirror revealed Sir Lancelot passing by on his horse. When she impetuously took three paces across the room and looked at him, the mirror cracked and she realised that the curse had befallen her. The lady escaped by boat during an autumn storm, inscribing 'The Lady of Shalott' on the prow. As she sailed towards Camelot and certain death, she sang a lament. Her frozen body was found shortly afterwards by the knights and ladies of Camelot, one of whom is Lancelot, who prayed to God to have mercy on her soul.
      <br><br>
    </div>
