<% layout('/layouts/showpages') %>
    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Princess Damayanti Talking with Royal Swan about Nala
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Ravi_Varma-Princess_Damayanthi_talking_with_Royal_Swan_about_Nala.jpg" alt="Princess Damayanti Talking with Royal Swan about Nala">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">D</span>amayanti talking with a divine swan about Nala is a painting by Raja Ravi Varma
        <br><br>
        Damayanti, the princess of Vidarbha Kingdom, talking with a divine swan, who tells her about Nala, the king of Nishada. This story has been narrated in many Hindu scriptures, including the Mahabharat and the Nishada Charita.
        <br><br>
        Princess of the Vidarbha Kingdom, Damayanti was extolled for her beauty. The story is how the swan acts as the messenger between the princess and Nala of the Nishadha Kingdom. The swan would sing the praises of Prince Nala to Damayanti keeping her engrossed and in turn would wax eloquent on her beauty to Nala to spark off a romantic tale like none other.
        </text></span>      
    </content>
