<% layout('/layouts/showpages') %>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Boating Party
  </p>
    <content style="margin-left: 5%; margin-right: 5%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 600px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Mary_Cassatt_-_The_Boating_Party_-_Google_Art_Project.jpg" alt="The Boating Party">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">T</span>he Boating Party is an 1893 oil painting by American artist Mary Cassatt. It has been in the collection of the National Gallery of Art since 1963.
        <br><br>
        Cassatt painted The Boating Party during the winter of 1893–1894 in Antibes, on the French Riviera. Cassatt spent January and February 1894 at the Villa "La Cigaronne," in Cap d'Antibes with her mother.Cassatt was 49 years old when she painted The Boating Party. 1893 had been a successful year for her: she had completed the mural Modern Woman, commissioned for the Woman's Building at Chicago's 1893 World's Columbian Exposition; her exhibition in 1893 at Durand-Ruel's gallery had been well received (footnote: the exhibition contained 98 items.); and the French state had decided to purchase one of her paintings for the Musée du Luxembourg.        
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The Boating Party depicts an unknown woman, baby, and man in a sailboat. The boat has a canoe stern, is boomless, and has three thwarts. The inside of the boat is described as yellow. It is an unusual painting in Cassatt's œuvre. While it does show her familiar theme of a mother and child, most of her other paintings are set in interiors or in gardens. It is also one of her largest oil paintings.
      <br><br>
      In 1890 Cassatt visited the great Japanese Print exhibition at the ecole de Beaux-arts in Paris. Mary Cassatt owned Japanese prints by Kitagawa Utamaro (1753–1806). The exhibition at Durand-Ruel of Japanese art proved the most important influence on Cassatt.
      <br><br>
        Frederick A. Sweet suggests that Cassatt may have been inspired by Édouard Manet's Boating from 1874.
        <br><br>
        Boating was exhibited at the (fourth?) Impressionist Exhibition of 1879, where it was not well received. Cassatt however, convinced her friend Louisine Havemeyer to buy it. Much of the work from the Havemeyer collection was bequeathed to the Metropolitan Museum, but some works were left to the Havemeyer children and have since ended up elsewhere.
        <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Art historian and museum administrator Frederick A. Sweet calls it "One of the most ambitious paintings she ever attempted". His 1966 analysis focusses on the balance of the "powerful dark silhouette of the boatman", the angle between the oar and the arm that "thrusts powerfully into the centre of the composition towards the mother and child" and "delicate, feminine ones".
      <br><br>
      Cassatt placed the horizon at the top of the frame in Japanese fashion.
      <br><br>
      In 1966, the painting appeared on a US postage stamp.
      <br><br>
    </div>
