<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/5/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Girl With a Pearl Earring
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 350px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/1665_Girl_with_a_Pearl_Earring.jpg/800px-1665_Girl_with_a_Pearl_Earring.jpg" alt="Girl With a Pearl Earring">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">G</span>irl With A Pearl Earring (Dutch: Meisje met de parel) is an oil painting by Dutch Golden Age painter Johannes Vermeer, dated c. 1665. Going by various names over the centuries, it became known by its present title towards the end of the 20th century after the earring worn by the girl portrayed there. The work has been in the collection of the Mauritshuis in The Hague since 1902 and has been the subject of various literary and cinematic treatments.
        <br><br>
        The painting is a tronie, the Dutch 17th-century description of a "head" that was not meant to be a portrait. It depicts a European girl wearing "exotic dress", an "oriental turban", and what appears to be a very large pearl as an earring. The subject of the painting is unknown, with it either being possible that she was a real model, or that Vermeer created a more generalised and mysterious woman, perhaps representing a Sibyl or biblical figure. There has been speculation that she is the artist's eldest daughter, Maria, though this has been dismissed as an anachronism by some art historians.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        The work is oil on canvas and is 44.5 cm (17.5 in) high and 39 cm (15 in) wide. It is signed "IVMeer" but not dated. It is estimated to have been painted around 1665.
    
      <br><br>
      After the most recent restoration of the painting in 1994, the subtle colour scheme and the intimacy of the girl's gaze toward the viewer have been greatly enhanced. During the restoration, it was discovered that the dark background, today somewhat mottled, was originally a deep enamel-like green. This effect was produced by applying a thin transparent layer of paint—a glaze—over the black background seen now. However, the two organic pigments of the green glaze, indigo and weld, have faded. In 2014, Dutch astrophysicist Vincent Icke  raised doubts about the material of the earring and argued that it looks more like polished tin than pearl on the grounds of the specular reflection, the pear shape and the large size of the earring.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        On the advice of Victor de Stuers, who for years tried to prevent Vermeer's rare works from being sold to parties abroad, Arnoldus Andries des Tombe purchased the work at an auction in The Hague in 1881, for only two guilders plus thirty cents buyer's premium (around €24 at current purchasing power). At the time, it was in poor condition, with parts of the paint layer having become detached. Des Tombe had no heirs and by a bequest donated this and other paintings to the Mauritshuis in 1902.
      <br><br>
      The painting has since been widely exhibited about the world until in 2014 the Mauritshuis took the decision that it should not leave the museum in the future. By that time, as a result of its promotion, a CNN survey named it one of the world's most recognizable paintings.
<br><br>
The painting was investigated by the scientists of the Netherlands Institute for Cultural Heritage and FOM Institute for Atomic and Molecular Physics (AMOLF) Amsterdam.
<br><br>
The ground is dense and yellowish in colour and is composed of chalk, lead white, ochre and very little black. The dark background of the painting contains bone black, weld (luteolin, Reseda luteola), chalk, small amounts of red ochre, and indigo. The face and draperies were painted mainly using ochres, natural ultramarine, bone black, charcoal black and lead white.
<br><br>
In February-March 2018 an international team of art experts spent two weeks studying the painting in a specially constructed glass workshop in the museum, open to observation by the public. The non-invasive research project included removing the work from its frame for study with microscopes, X-ray equipment and a special scanner to learn more about the methods and materials used by Vermeer. The project, with the name The Girl in the Spotlight, was headed by Abbie Vandivere, conservator at the Mauritshuis, and results were published by the Mauritshuis. A blog by Vandivere reveals many details of the project.
<br><br>
Results included the presence of delicate eyelashes, a green curtain behind the head, changes made, and details of the pigments used and where they came from. The lack of eyebrows and featureless background had led to speculation that Vermeer was painting an idealised or abstract face; the later discoveries showed that he was painting a real person in a real space. The pearl has been described as an illusion due to having "no contour and also no hook to hang it from the girl’s ear".
<br><br>
    </div>
