<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/6/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        The Last Supper
  </p>
    <content style="margin-left: 10%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 1000px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://blog.singulart.com/wp-content/uploads/2019/08/tour_img-312981-148-1.jpg" alt="The Last Supper">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        <span class="first-letter">T</span>he Last Supper (Italian: Il Cenacolo [il tʃeˈnaːkolo] or L'Ultima Cena [ˈlultima ˈtʃeːna]) is a mural painting by the Italian High Renaissance artist Leonardo da Vinci, dated to c. 1495–1498. The painting represents the scene of the Last Supper of Jesus with the Twelve Apostles, as it is told in the Gospel of John – specifically the moment after Jesus announces that one of his apostles will betray him. Its handling of space, mastery of perspective, treatment of motion and complex display of human emotion has made it one of the Western world's most recognizable paintings and among Leonardo's most celebrated works. Some commentators consider it pivotal in inaugurating the transition into what is now termed the High Renaissance.
        <br><br>
        The work was commissioned as part of a plan of renovations to the church and its convent buildings by Leonardo's patron Ludovico Sforza, Duke of Milan. In order to permit his inconsistent painting schedule and frequent revisions, it is painted with materials that allowed for regular alterations: tempera on gesso, pitch, and mastic. Due to the methods used, a variety of environmental factors, and intentional damage, little of the original painting remains today despite numerous restoration attempts, the last being completed in 1999. Housed in the refectory of the Convent of Santa Maria delle Grazie in Milan, Italy, The Last Supper is his largest work, aside from the Sala delle Asse. 
        <br><br>
        The Last Supper measures 460 cm × 880 cm (180 in × 350 in) and covers an end wall of the dining hall at the monastery of Santa Maria delle Grazie in Milan, Italy. The theme was a traditional one for refectories, although the room was not a refectory at the time that Leonardo painted it. The main church building was being completed (in 1498). Leonardo's patron, Ludovico Sforza, planned that the church should be remodeled as a family mausoleum, and to this end, changes were made, perhaps to plans by Bramante; these plans were not fully carried out, and a smaller mortuary chapel was constructed, adjacent to the cloister. The painting was commissioned by Sforza to decorate the wall of the mausoleum. The lunettes above the main painting, formed by the triple arched ceiling of the refectory, are painted with Sforza coats-of-arms. The opposite wall of the refectory is covered by the Crucifixion fresco by Giovanni Donato da Montorfano, to which Leonardo added figures of the Sforza family in tempera; these figures have deteriorated in much the same way as has The Last Supper. 
      <br><br>
      Leonardo worked on The Last Supper from about 1495 to 1498, but did not work continuously. The beginning date is not certain, as the archives of the convent for the period have been destroyed. A document dated 1497 indicates that the painting was nearly completed at that date. One story goes that a prior from the monastery complained to Leonardo about its delay, enraging him. He wrote to the head of the monastery, explaining he had been struggling to find the perfect villainous face for Judas, and that if he could not find a face corresponding with what he had in mind, he would use the features of the prior who had complained.
    
      <br><br>
      In 1557, Gian Paolo Lomazzo wrote that Leonardo's friend Bernardo Zenale advised him to leave Christ's face unfinished, arguing that "it would be impossible to imagine faces lovelier or gentler than those of James the Greater or James the Less." Leonardo apparently took the advice.
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Leonardo, as a painter, favoured oil painting, a medium which allows the artist to work slowly and make changes with ease. Fresco painting does not facilitate either of these objectives. Leonardo also sought a greater luminosity and intensity of light and shade (chiaroscuro) than could be achieved with fresco, in which the water-soluble colours are painted onto wet plaster, laid freshly each day in sections. Rather than using the proven method of painting on walls, Leonardo painted The Last Supper in tempera, the medium generally used for panel painting. The painting is on a stone wall sealed with a double layer of gesso, pitch, and mastic. Then he added an undercoat of white lead to enhance the brightness of the tempera that was applied on top. This was a method that had been described previously by Cennino Cennini in the 14th century. However, Cennini described the technique as being more risky than fresco painting, and recommended the use of painting in a more superficial medium for the final touches only.
      <br><br>

    </div>

