<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/7/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Guernica
  </p>
    <content style="margin-left: 10%; margin-top: 1%; margin-bottom: 3%;">
      <img style="width: 1000px; height: 420px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://cdn.shopify.com/s/files/1/0849/4704/files/guernica_sartle.jpg?v=1582528493" alt="Guernica">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify; margin-bottom: 60px;">
        <span class="first-letter">G</span>uernica (Spanish: [ɡeɾˈnika]; Basque: [ɡernika]) is a large 1937 oil painting by Spanish artist Pablo Picasso. It is one of his best-known works, regarded by many art critics as the most moving and powerful anti-war painting in history. It is exhibited in the Museo Reina Sofía in Madrid.
        <br><br>
        The grey, black, and white painting, on a canvas 3.49 meters (11 ft 5 in) tall and 7.76 meters (25 ft 6 in) across, portrays the suffering wrought by violence and chaos. Prominent in the composition are a gored horse, a bull, screaming women, a dead baby, a dismembered soldier, and flames.
        <br><br>
        Picasso painted Guernica at his home in Paris in response to the 26 April 1937 bombing of Guernica, a Basque Country town in northern Spain that was bombed by Nazi Germany and Fascist Italy at the request of the Spanish Nationalists. Upon completion, Guernica was exhibited at the Spanish display at the 1937 Paris International Exposition, and then at other venues around the world. The touring exhibition was used to raise funds for Spanish war relief. The painting soon became famous and widely acclaimed, and it helped bring worldwide attention to the 1936-1939 Spanish Civil War.
      <br><br>
      In January 1937, while Pablo Picasso was living in Paris on Rue des Grands Augustins, he was commissioned by the Spanish Republican government to create a large mural for the Spanish pavilion at the 1937 Paris World's Fair. This piece was to help raise awareness of the war and raise necessary funds. Picasso, who had last visited Spain in 1934 and would never return, was the Honorary Director-in-Exile of the Prado Museum.
    
      <br><br>
      Picasso worked somewhat dispassionately from January until late April on the project's initial sketches, which depicted his perennial theme of an artist's studio. Then, immediately upon hearing reports of the 26 April bombing of Guernica, poet Juan Larrea visited Picasso's home to urge him to make the bombing his subject. Days later, on 1 May, Picasso read George Steer's eyewitness account of the attack, which originally had been published in both The Times and The New York Times on 28 April, and abandoned his initial idea. Acting on Larrea's suggestion, Picasso began sketching a series of preliminary drawings for Guernica.

    </div> 

