<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/8/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        Las Meninas
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/las-meninas-interpretation-racu-alexandru.jpg" alt="Las Meninas">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">L</span>as Meninas (Spanish for 'The Ladies-in-waiting' pronounced [las meˈninas]) is a 1656 painting in the Museo del Prado in Madrid, by Diego Velázquez, the leading artist of the Spanish Golden Age. It has become one of the most widely analyzed works in Western painting, due to the way its complex and enigmatic composition raises questions about reality and illusion, and the uncertain relationship it creates between the viewer and the figures depicted.
        <br><br>
        The painting is believed by F. J. Sánchez Cantón to depict a room in the Royal Alcazar of Madrid during the reign of King Philip IV of Spain, and presents several figures, most identifiable from the Spanish court, captured in a particular moment as if in a snapshot. Some of the figures look out of the canvas towards the viewer, while others interact among themselves. The five-year-old Infanta Margaret Theresa is surrounded by her entourage of maids of honour, chaperone, bodyguard, two dwarfs and a dog. Just behind them, Velázquez portrays himself working at a large canvas. Velázquez looks outwards, beyond the pictorial space to where a viewer of the painting would stand. In the background there is a mirror that reflects the upper bodies of the king and queen. They appear to be placed outside the picture space in a position similar to that of the viewer, although some scholars have speculated that their image is a reflection from the painting Velázquez is shown working on.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Las Meninas has long been recognised as one of the most important paintings in the history of Western art. The Baroque painter Luca Giordano said that it represents the "theology of painting", and in 1827 the president of the Royal Academy of Arts Sir Thomas Lawrence described the work in a letter to his successor David Wilkie as "the true philosophy of the art". More recently, it has been described as "Velázquez's supreme achievement, a highly self-conscious, calculated demonstration of what painting could achieve, and perhaps the most searching comment ever made on the possibilities of the easel painting".
      <br><br>
      In 17th-century Spain, painters rarely enjoyed high social status. Painting was regarded as a craft, not an art such as poetry or music. Nonetheless, Velázquez worked his way up through the ranks of the court of Philip IV, and in February 1651 was appointed palace chamberlain (aposentador mayor del palacio). The post brought him status and material reward, but its duties made heavy demands on his time. During the remaining eight years of his life, he painted only a few works, mostly portraits of the royal family. When he painted Las Meninas, he had been with the royal household for 33 years.
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        Philip IV's first wife, Elizabeth of France, died in 1644, and their only son, Balthasar Charles, died two years later. Lacking an heir, Philip married Mariana of Austria in 1649, and Margaret Theresa (1651–1673) was their first child, and their only one at the time of the painting. Subsequently, she had a short-lived brother Philip Prospero (1657–1661), and then Charles (1661–1700) arrived, who succeeded to the throne as Charles II at the age of three. Velázquez painted portraits of Mariana and her children, and although Philip himself resisted being portrayed in his old age he did allow Velázquez to include him in Las Meninas. In the early 1650s he gave Velázquez the Pieza Principal (main room) of the late Balthasar Charles's living quarters, by then serving as the palace museum, to use as his studio, where Las Meninas is set. Philip had his own chair in the studio and would often sit and watch Velázquez at work. Although constrained by rigid etiquette, the art-loving king seems to have had a close relationship with the painter. After Velázquez's death, Philip wrote "I am crushed" in the margin of a memorandum on the choice of his successor.
      <br><br>
      During the 1640s and 1650s, Velázquez served as both court painter and curator of Philip IV's expanding collection of European art. He seems to have been given an unusual degree of freedom in the role. He supervised the decoration and interior design of the rooms holding the most valued paintings, adding mirrors, statues and tapestries. He was also responsible for the sourcing, attribution, hanging and inventory of many of the Spanish king's paintings. By the early 1650s, Velázquez was widely respected in Spain as a connoisseur. Much of the collection of the Prado today—including works by Titian, Raphael, and Rubens—were acquired and assembled under Velázquez's curatorship.
<br><br>
The painting was referred to in the earliest inventories as La Familia ("The Family"). A detailed description of Las Meninas, which provides the identification of several of the figures, was published by Antonio Palomino ("the Giorgio Vasari of the Spanish Golden Age") in 1724. Examination under infrared light reveals minor pentimenti, that is, there are traces of earlier working that the artist himself later altered. For example, at first Velázquez's own head inclined to his right rather than his left.
<br><br>
The painting has been cut down on both the left and right sides. It was damaged in the 1734 fire that destroyed the Alcázar, and was restored by court painter Juan García de Miranda (1677–1749). The left cheek of the Infanta was almost completely repainted to compensate for a substantial loss of pigment. After its rescue from the fire, the painting was inventoried as part of the royal collection in 1747–48, and the Infanta was misidentified as Maria Theresa, Margaret Theresa's older half-sister, an error that was repeated when the painting was inventoried at the new Madrid Royal Palace in 1772. A 1794 inventory reverted to a version of the earlier title, The Family of Philip IV, which was repeated in the records of 1814. The painting entered the collection of the Museo del Prado on its foundation in 1819. In 1843, the Prado catalogue listed the work for the first time as Las Meninas.
<br><br>
In recent years, the picture has suffered a loss of texture and hue. Due to exposure to pollution and crowds of visitors, the once-vivid contrasts between blue and white pigments in the costumes of the meninas have faded. It was last cleaned in 1984 under the supervision of the American conservator John Brealey, to remove a "yellow veil" of dust that had gathered since the previous restoration in the 19th century. The cleaning provoked, according to the art historian Federico Zeri, "furious protests, not because the picture had been damaged in any way, but because it looked different". However, in the opinion of López-Rey, the "restoration was impeccable". Due to its size, importance, and value, the painting is not lent out for exhibition.
<br><br>
    </div>
