<% layout('/layouts/showpages') %>
<style>
  button {
      float: right;
    }
</style>

<span><a href="/paintings/9/discussion"><button>Discussions</button></a></span>

    <p style="text-align: center; font-family: 'Playfair Display', serif; font-size: 300%; margin-top: 3%; ">
        American Gothic
    </p>

    <content style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%; margin-top: 1%;">
      <img style="width: 550px; height: 620px; margin-left: 5%; margin-bottom: 0%; margin-top: 1%;" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Grant_Wood_-_American_Gothic_-_Google_Art_Project.jpg" alt="American Gothic">
      
      <span id="intro" style="margin-left: 10%; margin-right: 5%; margin-bottom: 0%; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify"><text >
        <span class="first-letter">A</span>merican Gothic is a 1930 painting by Grant Wood in the collection of the Art Institute of Chicago.
        <br><br>
        Wood was inspired to paint what is now known as the American Gothic House in Eldon, Iowa, along with "the kind of people [he] fancied should live in that house". It depicts a farmer standing beside his daughter – often mistakenly assumed to be his wife. The painting's name is a word play on the house's architectural style, Carpenter Gothic.
        <br><br>
        The figures were modeled by Wood's sister Nan Wood Graham and their dentist Dr. Byron McKeeby. The woman is dressed in a colonial print apron evoking 20th-century rural Americana while the man is adorned in overalls covered by a suit jacket and carries a pitchfork. The plants on the porch of the house are mother-in-law's tongue and beefsteak begonia, which also appear in Wood's 1929 portrait of his mother, Woman with Plants.
        </text></span>      
    </content>

    <div style="margin-left: 140px; margin-right: 140px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        American Gothic is one of the most familiar images of 20th-century American art and has been widely parodied in American popular culture. From 2016 to 2017, the painting was displayed in Paris at the Musée de l'Orangerie and in London at the Royal Academy of Arts in its first showings outside the United States.
      <br><br>
      In August 1930, Grant Wood, an American painter with European training, was driven around Eldon, Iowa, by a young local painter named John Sharp. Looking for inspiration, he noticed the Dibble House, a small white house built in the Carpenter Gothic architectural style. Sharp's brother suggested in 1973 that it was on this drive that Wood first sketched the house on the back of an envelope. Wood's earliest biographer, Darrell Garwood, noted that Wood "thought it a form of borrowed pretentiousness, a structural absurdity, to put a Gothic-style window in such a flimsy frame house".
      <br><br>
    </div> 

    <div id="titleandsubject" style="margin-left: 140px; margin-right: 140px; margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 120%; text-align: justify;">
        At the time, Wood classified it as one of the "cardboardy frame houses on Iowa farms" and considered it "very paintable". After obtaining permission from the house's owners, Selma Jones-Johnston and her family, Wood made a sketch the next day in oil paint on paperboard from the front yard. This sketch depicted a steeper roof and a longer window with a more pronounced ogive than on the actual house – features which eventually adorned the final work.
      <br><br>
      Wood decided to paint the house along with, in his words, "the kind of people [he] fancied should live in that house". He recruited his sister, Nan (1899–1990), to be the model for the daughter, dressing her in a colonial print apron mimicking 20th-century rural Americana. While preparing for the painting, Wood requested that she make the apron herself and include rickrack trim to better reflect the time period. Unfortunately rickrack was no longer available in stores, and so Nan removed trim from their mother Hattie's old dresses to apply to the apron instead. The model for the father was the Wood family's dentist, Dr. Byron McKeeby (1867–1950) from Cedar Rapids, Iowa. Nan told people that her brother had envisioned the pair as father and daughter, not husband and wife, which Wood himself confirmed in his letter to a Mrs. Nellie Sudduth in 1941: "The prim lady with him is his grown-up daughter."
<br><br>
Elements of the painting stress the vertical that is associated with Gothic architecture. The upright, three-pronged pitchfork is echoed in the stitching of the man's overalls and shirt, the Gothic pointed-arch window of the house under the steeped roof, and the structure of the man's face. However, Wood did not add figures to his sketch until he returned to his studio in Cedar Rapids. Moreover, he would not return to Eldon again, although he did request a photograph of the home to complete his painting.
<br><br>
Wood entered the painting in a competition at the Art Institute of Chicago. One judge deemed it a "comic valentine", but a museum patron persuaded the jury to award the painting the bronze medal and a $300 cash prize. The same patron also persuaded the Art Institute to buy the painting, and it remains part of the Chicago museum's collection. The image soon began to be reproduced in newspapers, first by the Chicago Evening Post, and then in New York, Boston, Kansas City, and Indianapolis. However, when the image finally appeared in the Cedar Rapids Gazette, there was a backlash. Iowans were furious at their depiction as "pinched, grim-faced, puritanical Bible-thumpers". Wood protested, saying that he had not painted a caricature of Iowans but a depiction of his appreciation, stating "I had to go to France to appreciate Iowa." In a 1941 letter, Wood said that, "In general, I have found, the people who resent the painting are those who feel that they themselves resemble the portrayal."
<br><br>
    </div>
